<div class="center" style="display: flex;align-items: center;justify-content: center;height: 100%;margin-top: 2em;">
  <nz-card>
    <h1 style="margin-bottom: 1em;">Join a project</h1>
    <nz-spin [nzSpinning]="isLoading">
      <p>You have received an invitation to join this <strong>{{ invitation?.project.title }}</strong> project.</p>
  
      <div *ngIf="isUserConnectedMatched()">
        <p>Do you want to join the project? Do you accept the invitation.</p>
        
        <div class="center-content">
          <button nz-button nzType="primary" (click)="handleAnswer('yes')">Yes</button>
          <button nz-button nzType="text" nzDanger (click)="handleAnswer('no')">No</button>
        </div>
      </div>
      <div *ngIf="!isUserConnectedMatched()">
        <p>Sorry, but the invitation was not sent to this account.</p>
  
        <!-- Kindly, -->
        <div>
          <div>
            <button nz-button nzType="primary" (click)="signIn()">Sign In here</button> 
            with the same email address than the one which received the mail
          </div>
          <!-- <nz-divider nzType="vertical" nzText="Or"></nz-divider>   -->
          <strong>OR</strong>
          <div>
            <button style="margin-top: 12px;" nz-button nzType="primary" (click)="signUp()">click here</button> 
            to create an account
          </div>
        </div>
      </div>
    </nz-spin>
  </nz-card>
</div>
