.xarray {
  fieldset:last-of-type {
    display: block;
  }

  fieldset {
    display: none;
  }

}

.footer-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
