<div class="row width-75 margin-bottom-2">
  <form [formGroup]="currentFormControls" (ngSubmit)="onSubmit()">
    <div class="margin-top-2" *ngFor="let section_key of currentFormModel.form | keys;">
      <div class="separator-center margin-bottom-3">
        <h3 class="text-wrap">
          {{ currentFormModel.form[section_key]._params.title }}
        </h3>
        <p>{{ currentFormModel.form[section_key]._params.description }}</p>
      </div>
      <fieldset [formGroup]="getFromGroup(section_key)" *ngIf="!currentFormModel.form[section_key]._params.tarray">

        <div *ngFor="let variable of currentFormModel.form[section_key].questions | keys" [ngSwitch]="currentFormModel.form[section_key].questions[variable].type">

          <div *ngSwitchCase="'string'" [ngSwitch]="currentFormModel.form[section_key].questions[variable].subtype">
            <label>
              <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
              <input type="number" id="{{ variable }}" formControlName="{{ variable }}" *ngSwitchCase="'Number'">
              <input type="text" id="{{ variable }}" formControlName="{{ variable }}" *ngSwitchCase="'String'">
              <input type="text" id="{{ variable }}" formControlName="{{ variable }}" *ngSwitchDefault>
            </label>
            <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
          </div>
          <div *ngSwitchCase="'text'">
            <label>
              <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
              <textarea name="name" rows="8" cols="80" id="{{ variable }}" formControlName="{{ variable }}"></textarea>
            </label>
            <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
          </div>
          <div *ngSwitchCase="'date'">
            <label>
              <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
              <input type="date" id="{{ variable }}" formControlName="{{ variable }}">
            </label>
            <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
          </div>
          <div *ngSwitchCase="'time'">
            <label>
              <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
              <input type="time" id="{{ variable }}" formControlName="{{ variable }}">
            </label>
            <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
          </div>
          <div *ngSwitchCase="'single-choice'">
            <div class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</div>
            <div class="grid-x">
              <div *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;">
                <input type="radio" name="{{ variable }}" value="{{ choice }}" id="{{ variable }}" formControlName="{{ variable }}"
                  (change)="selectionChangeOnSingle($event, oldValue[variable]); oldValue[variable]=choice;">
                <label for="">
                  {{ currentFormModel.form[section_key].questions[variable].kv[choice] }}
                </label>
              </div>
            </div>
            <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
          </div>
          <div *ngSwitchCase="'yes-no'">
            <div class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</div>
            <div class="grid-x">
              <div *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;">
                <input
                  type="radio" name="{{ variable }}" value="{{ choice }}" id="{{ variable }}" formControlName="{{ variable }}">
                <label for="">{{ currentFormModel.form[section_key].questions[variable].kv[choice] }}</label>
              </div>
            </div>
            <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
          </div>
          <div *ngSwitchCase="'multiple-choice'">
            <div class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</div>
            <div class="grid-x">
              <div *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;">
                <input
                  type="checkbox" name="{{ variable }}" value="{{ choice }}" id="{{ variable }}" formControlName="{{ variable }}">
                <label for="">{{ currentFormModel.form[section_key].questions[variable].kv[choice] }}</label>
              </div>
            </div>
              <p *ngIf="variable.hint" class="help-text" id="passwordHelpText">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
          </div>
        </div>
      </fieldset>

      <div class="xarray" formArrayName="{{ section_key }}" *ngIf="currentFormModel.form[section_key]._params.tarray">
          <fieldset *ngFor="let _group of getFromGroup(section_key).controls; let i=index;" formGroupName="{{ i }}" [disabled]="getSectionRepetitionLimit(section_key) == 0">
            <div *ngFor="let variable of currentFormModel.form[section_key].questions | keys" [ngSwitch]="currentFormModel.form[section_key].questions[variable].type">
              <pre>{{ variable | json }}</pre>
              <div *ngSwitchCase="'string'">
                <label>
                  <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
                  <input type="text" id="{{ variable }}" formControlName="{{ variable }}">
                </label>
                <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
              </div>
              <div *ngSwitchCase="'text'">
                <label>
                  <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
                  <textarea name="name" rows="8" cols="80" id="{{ variable }}" formControlName="{{ variable }}"></textarea>
                </label>
                <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
              </div>
              <div *ngSwitchCase="'date'">
                <label>
                  <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
                  <input type="date" id="{{ variable }}" formControlName="{{ variable }}">
                </label>
                <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
              </div>
              <div *ngSwitchCase="'time'">
                <label>
                  <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
                  <input type="time" id="{{ variable }}" formControlName="{{ variable }}">
                </label>
                <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
              </div>
              <div *ngSwitchCase="'single-choice'">
                <div class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</div>
                <div class="grid-x">
                  <div *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;">
                    <input type="radio" name="{{ variable }}" value="{{ choice }}" id="{{ variable }}" formControlName="{{ variable }}"
                      (change)="selectionChangeOnSingle($event, oldValue[variable]); oldValue[variable]=choice;">
                    <label for="">
                      {{ currentFormModel.form[section_key].questions[variable].kv[choice] }}
                    </label>
                  </div>
                </div>
                <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
              </div>
              <div *ngSwitchCase="'yes-no'">
                <div class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</div>
                <div class="grid-x">
                  <div *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;">
                    <input
                      type="radio" name="{{ variable }}" value="{{ choice }}" id="{{ variable }}" formControlName="{{ variable }}">
                    <label for="">{{ currentFormModel.form[section_key].questions[variable].kv[choice] }}</label>
                  </div>
                </div>
                <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
              </div>
              <div *ngSwitchCase="'multiple-choice'">
                <div class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</div>
                <div class="grid-x">
                  <div *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;">
                    <input
                      type="checkbox" name="{{ variable }}" value="{{ choice }}" id="{{ variable }}" formControlName="{{ variable }}">
                    <label for="">{{ currentFormModel.form[section_key].questions[variable].kv[choice] }}</label>
                  </div>
                </div>
                  <p *ngIf="variable.hint" class="help-text" id="passwordHelpText">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
              </div>
            </div>

          </fieldset>
          <div class="grid-x align-justify">
            <div class="">
              <button type="button" class="margin-right-1 button" (click)="onAddValue(section_key)" [disabled]="getSectionRepetitionLimit(section_key) == 0" >
                Add a new value ({{ getSectionRepetitionLimit(section_key) }})
              </button>
            </div>
            <div class="">
              <strong (click)="seePreviousValues(section_key)">See the previous others values ({{ currentFormControls.value[section_key].length - 1}})</strong>
            </div>
          </div>
          <div class="margin-top-2">
            <ag-grid-angular
              style="height:100px;"
              class="ag-theme-balham"
              [rowData]="seePreviousValues(section_key)"
              [columnDefs]="agridData.columns[section_key]"
              >
            </ag-grid-angular>
          </div>

      </div>
    </div>

    <div class="footer-submit">
      <div class="">
        <label for="">
          Stay here
          <input type="checkbox" formControlName="stay_here" value="true"/>
          <!-- <input type="checkbox" name="stay_here" value="true"/> -->
        </label>
      </div>

      <button type="submit" class="button">Submit the form</button>
    </div>
  </form>
</div>
