<nz-layout>
  <nz-header nzTheme="light">
    <div class="logo">
      <img src="assets/images/full-logo.svg">
    </div>
  </nz-header>
  <nz-content>

    <router-outlet></router-outlet>

  </nz-content>
  <nz-footer>Guitou ©2019</nz-footer>
</nz-layout>
