
.account-page {
  padding: 40px 0;
}
.account-title {
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 40px;
  text-align: center;
}
.account-box {
  margin: 0 auto;
  width: 400px;
  border:1px solid #e7e7e7;
  background-color:#fff;

  a {
    color: #323232;
    font-size: 0.9rem;

    &:hover {
      color: #00bf6f;
    }
  }

  label {
    color: #7f8fa4;
    font-size: 16px;
    font-weight: normal;
  }
}
.account-wrapper {
  padding: 30px;


}
.account-logo {
  margin-bottom: 20px;
  text-align: center;

  img {
    width: 100px;
  }
}

nz-layout {
  height: 100vh;
}

nz-content {
  height: calc(100vh - 64px - 69px);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: auto;
}

nz-header {
  background: none;
}

nz-footer {
  text-align: center;
}


.logo {
  width: 120px;
  height: 80px;

  float: left;
}


@media screen and (max-width: 960px) {
  nz-content {
    width: 100%;
    padding: 10%;
    background-image: url("/assets/images/login-2.png");
  }
}
