@color_unified: #1779ba;

header {
  .extra {
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
      margin-left: 12px;
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(6, 150px); */
  gap: 20px;
}

.project-item {
  background-color: white;
  padding: 24px;

  .header {
    display: flex;
    align-items: center;

    .title {
      font-size: 24px;
      font-weight: 500;
      margin-left: 5px;
      text-overflow: ellipsis;
    }

    .menu {
      margin-left: auto;
      // float: right;
    }
  }
}

.page-title {
  color: #565656;
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 20px;
}

.page-sub-title {
  color: #565656;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.grid-blog {
  .blog-title {
    font-size: 16px;
    margin: 0 0 10px;

    a {
      color: #333;
    }
  }
  .blog-content p {
    font-size: 13px;
    margin: 0 0 15px;
    color: #909090;
  }
  .blog-info {
    border: 0;
    border-top: 1px solid #eaeaea;
    margin-bottom: 0;
    padding: 12px 0;
  }
  .blog-image {
    margin-bottom: 20px;
  }
  .read-more {
    font-size: 13px;
    margin-bottom: 15px;
  }
}

.blog {
  position: relative;
  margin: 0 0 50px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 20px;
}
.blog-content {
  position: relative;

  p {
    color: #282628;
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 25px;
  }
}
.read-more {
  color: #282628;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 20px;

  &:hover {
    color: @color_unified;
    margin-left: 10px;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }

  i {
    color: @color_unified;
    font-size: 18px;
    margin-right: 3px;
  }
}
.blog-info {
  border: 1px solid #eaeaea;
  color: #909090;
  font-size: 12px;
  margin-bottom: 0;
  padding: 12px 20px;

  a {
    color: #909090;
    margin-right: 5px;
  }
  a:last-child {
    margin-right: 0;
  }
  a:hover {
    color: @color_unified;
  }
  i {
    color: @color_unified;
    font-size: 18px;
    margin-right: 5px;
  }
}
.post-left {
  float: left;
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
      float: left;
      margin-right: 20px;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}
.post-right {
  float: right;
}
