<div class="wrapper">
  <header style="padding: 16px 0px;" class="same-line space-between">
    <h1>Projects</h1>
    <div class="extra">
      <!-- <button nz-button>Generate mobile app</button> -->
      <button nz-button nzType="primary" (click)="createProject()"><i nz-icon nzType="plus"></i>New project</button>
    </div>
  </header>
  <div class="projects">
    <div class="project-item" *ngFor="let project of allProjects">
      <div class="header">
        <nz-avatar [nzShape]="'square'" [nzSize]="'large'" [nzIcon]="'user'" nzSrc="assets/images/small-logo.svg"></nz-avatar>
        <div class="title">{{ project.title }}</div>
        <div class="menu">
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <i nz-icon nzType="ellipsis"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Generate mobile app</li>
              <li nz-menu-item nzDanger (click)="deleteProject(project.id)">Delete</li>
              <!-- <li nz-menu-divider></li>
              <li nz-menu-item nzDisabled>disabled menu item</li>
              <li nz-submenu nzTitle="sub menu">
                <ul>
                  <li nz-menu-item>3rd menu item</li>
                  <li nz-menu-item>4th menu item</li>
                </ul>
              </li>
              <li nz-submenu nzDisabled nzTitle="disabled sub menu">
                <ul>
                  <li nz-menu-item>3rd menu item</li>
                  <li nz-menu-item>4th menu item</li>
                </ul>
              </li> -->
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
      <p>{{ project.description }}</p>
      <div>
        <a nz-button nzType="primary" [routerLink]="[project.id]">Enter</a>
      </div>
    </div>
  </div>
</div>
