<div nz-row class="sign-up" nzJustify="space-around" nzAlign="middle" style="display: flex; justify-content: space-around; align-items: center;">
   <div nz-col nzSpan="12" nzSm="24" nzLg="12">
      <nz-card>
         <nz-card-meta [nzTitle]="title" [nzDescription]="description"></nz-card-meta>
         
         <ng-template #title>
            <h2 class="">Sign Up</h2>
         </ng-template>
         <ng-template #description>
            <p class="">Create your account to get access</p>
         </ng-template>
         <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <nz-alert nzType="error" nzClosable="true" [hidden]="!error" [nzDescription]="error"></nz-alert>
            <div nz-row nzGutter="16">
               <nz-form-item nz-col nzSpan="12">
                  <nz-form-label nzfor="fullname" nzrequired="">Full name</nz-form-label>
                  <nz-input-group nzPrefixIcon="user">
                     <input type="text" nz-input placeholder="Full name" formControlName="fullname"/>
                  </nz-input-group>
               </nz-form-item>
               <nz-form-item nz-col nzSpan="12">
                  <nz-form-label nzfor="phone" nzrequired="" class="ant-form-item-label">Phone number</nz-form-label>
                  <nz-input-group nzPrefixIcon="phone">
                     <input type="text" nz-input placeholder="Phone number with indicatif" formControlName="phone"/>
                  </nz-input-group>
               </nz-form-item>
            </div>
            <div nz-row nzGutter="24">
               <nz-form-item nz-col [nzSpan]="24">
                  <nz-form-label nzfor="email" nzrequired="" class="ant-form-item-label">Email</nz-form-label>
                  <nz-input-group nzPrefixIcon="mail">
                     <input type="text" nz-input placeholder="Email" formControlName="email"/>
                  </nz-input-group>
               </nz-form-item>
               <nz-form-item nz-col [nzSpan]="12">
                  <nz-form-label nzfor="password" nzrequired="" class="ant-form-item-label">Password</nz-form-label>
                  <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input placeholder="Password" formControlName="password"/>
                  </nz-input-group>
               </nz-form-item>
               <nz-form-item nz-col [nzSpan]="12">
                  <nz-form-label nzfor="password" nzrequired="" class="ant-form-item-label">Repeat password</nz-form-label>
                  <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input placeholder="Password" formControlName="password_repeat"/>
                  </nz-input-group>
               </nz-form-item>
            </div> 
            <nz-form-item>
               <nz-form-control>
                  <div class="ant-form-item-control">
                     <span class="ant-form-item-children">
                        <div class="d-flex align-items-center justify-content-between">
                           <span class="font-size-13 text-muted">Don't have an account? <a class="small" (click)="signIn()">Sign In</a></span>
                           <button nz-button [nzLoading]="isLoading" nzType="primary">Sign Up</button>
                        </div>
                     </span>
                  </div>
               </nz-form-control>
            </nz-form-item>
         </form>
      </nz-card>
   </div>
   <div nz-col nzSpan="12" nzSm="0" nzLg="12">
      <div class="d-none d-md-block"><img alt="" class="img-fluid" src="assets/images/login-2.png"></div>
   </div>
</div>
