
.account-page {
  padding: 40px 0;
}
.account-title {
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 40px;
  text-align: center;
}
.account-box {
  margin: 0 auto;
  width: 400px;
  border:1px solid #e7e7e7;
  background-color:#fff;

  a {
    color: #323232;
    font-size: 0.9rem;

    &:hover {
      color: #00bf6f;
    }
  }

  label {
    color: #7f8fa4;
    font-size: 16px;
    font-weight: normal;
  }
}
.account-wrapper {
  padding: 30px;


}
.account-logo {
  margin-bottom: 20px;
  text-align: center;

  img {
    width: 100px;
  }
}
