<div>
  <header>
    <h3>Access Link</h3>
  </header>

  <section>
    <div *ngFor="let xorm of currentProject?.xorms; index as i;" style="display: flex;">
      <i nz-icon nzType="pushpin" nzTheme="outline" style="font-size: 20px; margin-right: 3px"></i>
      <div style="flex: 1">
        <h5>{{ xorm.title }}</h5>
        <div>
          <span nz-typography nzCopyable nzCopyText="{{ WEBSITE_URL }}/x/{{ xorm._id }}">
            <a target="_blank" href="{{ WEBSITE_URL }}/x/{{ xorm._id }}">
              {{ WEBSITE_URL }}/x/{{ xorm._id }}
            </a>
          </span>
          <span>(Click here to copy it)</span>
        </div>
        <div *ngIf="customURLId[i].isSetUp">
          <span nz-typography nzCopyable nzCopyText="{{ WEBSITE_URL }}/x/{{ customURLId[i].customURLId }}">
            <a target="_blank" href="{{ WEBSITE_URL }}/x/{{ customURLId[i].customURLId }}">
              {{ WEBSITE_URL }}/x/{{ customURLId[i].customURLId }}
            </a>
          </span>
          <span>(Click here to copy it)</span>
        </div>

        <div style="margin-top: 1em; margin-bottom: 0.5em;">
          Do you want to set up a custom URL identifier ?
          <label nz-checkbox [(ngModel)]="customURLId[i].isSetUp" (ngModelChange)="onRemoveCustomURLId(i)"></label>
        </div>
        <div *ngIf="customURLId[i].isSetUp">
          Kindly, enter the URL identifier
          <div style="display: flex;">
            <nz-input-group nzAddOnBefore="{{ WEBSITE_URL }}/x/">
              <input type="text" nz-input [(ngModel)]="customURLId[i].customURLId" />
            </nz-input-group>
            <button nz-button nzType="primary" (click)="saveCustomURLId(xorm._id, customURLId[i].customURLId)">Save</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<nz-divider></nz-divider>
<nz-spin nzTip="Saving..." [nzSpinning]="isGeolocationSaving">
  <header>
    <h3>Geolocation Position</h3>
  </header>
  <section>
    <div>Do you want to collect geolocation position of the user entering the data ?</div>
    <div>
      <label
        nz-checkbox
        [(ngModel)]="allXormGeolocationPosition"
        (ngModelChange)="updateAllXormGeolocated()"
        [nzIndeterminate]="indeterminateXormGeolocated"
      >
        Check all
      </label>
    </div>
    <nz-checkbox-group [(ngModel)]="shouldTakeGeolocationPosition" (ngModelChange)="updateSingleXormGeolocated()"></nz-checkbox-group>
  </section>
</nz-spin>
<div class="save">
  <button nz-button nzType="primary" (click)="saveGeolocationPosition()">Save</button>
</div>
