<section>
  <header class="same-line space-between">
    <h3>Collaborators</h3>
    <button nz-button nzType="primary" (click)="startInvitationProcess()">Invite a collaborator</button>
  </header>

  <div>
    <div class="same-line space-between" class="collaborator" *ngFor="let coll of collaborators">
      <div>
        <div><strong>{{ coll.name }} </strong></div>
        <div>
          <span>{{ coll.email }}</span> <nz-divider nzType="vertical"></nz-divider> <strong><em>{{ coll.role }}</em></strong>
        </div>
      </div>
      <div>
        <button nz-button nzShape="circle" nzSize="small" nzDanger (click)="removeCollaborator(coll._id)"><i nz-icon nzType="delete"></i></button>
      </div>
    </div>
  </div>
</section>