input[type="radio"] {
  margin-top: 3px;
  margin-right: 5px;
  cursor: pointer;
}

label {
  cursor: pointer;
}

section {
  // margin-top: -1px;
  // border-top: 1px solid #eaecef;

  header {
    // padding: 16px;
  }

  .collaborator {
    padding: 8px 16px;
    // border-top: 1px solid #eaecef;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: ghostwhite;
      cursor: pointer;
    }
  }
}
