:host { 
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}
nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;

  li {
    // padding: 0 1em;

    a {
      display: flex;
      align-items: center;
      color: black;

      padding: 8px 16px;
      outline: 1px dotted transparent;
      outline-offset: -1px;

      i {
        margin-right: 15px;
      }

      &.active {
        color: #001529;
        border-bottom: 2px solid #1890ff;
      }
    }
  }
}

.subheader {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
}

.inner-content {
  background-color: white;
  // height: 100vh;
  padding: 12px 50px 0;
  overflow-y: auto;
}
