<div style="padding: 0 50px;">
  <div>
    <a (click)="goBack()"><i class="fas fa-long-arrow-alt-left"></i> Back </a>
    <h1>{{ currentProject?.title }}</h1>
    <div class="subheader">{{ currentProject?.description }}</div>
  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['xorms']" routerLinkActive="active"><i nz-icon nzType="form" nzTheme="outline"></i> <span>Forms</span></a>
      </li>
      <li>
        <a [routerLink]="['data']" routerLinkActive="active"><i nz-icon nzType="database"></i> <span>Data</span></a>
      </li>
      <li>
        <a [routerLink]="['dashboard']" routerLinkActive="active"><i nz-icon nzType="dashboard"></i> <span>Dashboard</span></a>
      </li>
      <li>
        <a [routerLink]="['settings']" routerLinkActive="active"><i nz-icon nzType="setting"></i> <span>Settings</span></a>
      </li>
      <li>
        <div>
          <button nz-button nzType="text" (click)="generateApp()">Generate the APP</button>
          <button nz-button nzShape="circle" nzType="primary"
            *ngIf="!isGeneratingAPK"
            (click)="downloadApk()" 
            type="button"
            aria-label="download-apk"
          >
            <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
          </button>
        </div>
      </li>
    </ul>
  </nav>
</div>
<div class="base inner-content">
  <router-outlet></router-outlet>
</div>
