.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-value {
  white-space: normal;
}

.settings {
  display: flex;

  nz-divider {
    white-space: pre !important;
  }

  article {
    width: 20%;
  }

  section.content {
    width: 80%;
    padding: 16px;

    header {
      margin-bottom: 2em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      button {
        margin-left: 5px;
      }

      .xorm-title {
        flex: 1 1 100%;
      }
    }
  }

  .save {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
  }
}
