<div class="settings">
  <article>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item (click)="general()">
        General
      </li>
      <li nz-menu-item (click)="collaborators()">
        Collaborateurs
      </li>
      <li nz-submenu nzTitle="Languages" (click)="languages()">
        <ul>
          <li nz-menu-item 
            *ngFor="let xorm of currentProject?.xorms"
            (click)="languages($event, xorm.id)"
          >
            {{ xorm.title }}
          </li>
        </ul>
      </li>
    </ul>
  </article>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
<!-- <header>
  <h2>Settings</h2>
</header> -->

<!-- <div>
  <section>
    <h3>Access Link</h3>
    <div *ngFor="let xorm of currentProject?.xorms">
      <div><strong>{{ xorm.title }}</strong></div>
      <button nz-button nzType="primary" nzSize="small" *ngIf="setCustomURLId === false"
        (click)="onSetCustomURLId()"
      >Change</button>
      <div 
        style="display: flex;justify-content: space-between;align-items: center;"
        *ngIf="setCustomURLId"
      >
        <nz-input-group nzAddOnBefore="{{ websiteUrl}}/x/">
          <input type="text" nz-input [(ngModel)]="customURLId" />
        </nz-input-group>
      </div>
      <div style="display: flex;justify-content: space-between;align-items: center;">
        <a nz-typography nzCopyable nzCopyText="{{ customURLId ? customURLId : xorm._id }}"
        target="_blank" href="{{ websiteUrl }}/x/{{ customURLId ? customURLId : xorm._id }}"
        >{{ websiteUrl }}/x/{{ customURLId ? customURLId : xorm._id }}</a>
      </div>
      <button nz-button nzType="primary" nzSize="small" (click)="onSaveCustomURLId(xorm._id)">Save</button>
    </div>
  </section> -->

  <!-- <section>
    <h3>xorms</h3>
    <div>
      <div>
        <div>What is the <strong>main</strong> xorm ?</div>
        <nz-select [(ngModel)]="currentProject?.settings.xorms.primary" nzAllowClear nzPlaceHolder="Select among xorms" (ngModelChange)="onChange()">
          <nz-option *ngFor="let xorm of currentProject?.xorms" [nzValue]="xorm.id" [nzLabel]="xorm.title"></nz-option>
        </nz-select>
      </div>
      <div>
        <div>How are the primary key generated ?</div>
        <nz-radio-group [(ngModel)]="currentProject?.settings.xorms.pKeyOrigin" nzButtonStyle="solid" (ngModelChange)="onChange()">
          <label nz-radio-button nzValue="autogenerated">Auto Generated</label>
          <label nz-radio-button nzValue="autoincrement">Auto-Incremented</label>
          <label nz-radio-button nzValue="entered">Entered</label>
        </nz-radio-group>
      </div>
    </div>
    <div style="margin-top: 2em;">
      <button nz-button nzType="primary" [disabled]="!enableUpdate" [nzLoading]="isSaving" (click)="onSave()">Save</button>
    </div>
  </section> -->

  <!-- <app-xorms-details-settings-collaborators></app-xorms-details-settings-collaborators>

</div> -->