:host{
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  // height: 100%;

  .logo {
    width: 100px;
    height: 80px;
  }
  
  .page-wrapper {
    left: 0;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  
    height: 100%;
    
    & > .content {
      padding: 30px;
      height: 100%;
    }
  }
  
  .header-menu {
    line-height: 64px;
  }
  
  .user-infos {
    display: flex;
    align-items: center;
  
    .name {
      font-size: 16px;
      margin-right: 10px;
    }
  }
  
  header {
    height: 64px;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 64px;
    background: #001529;
  
    display: flex;
    justify-content: space-between;
  
    color: white;
  }
}


// * {
//   font-family: monospace;
// }

// nz-layout {
//   height: 100%;
// }

// nz-content {
//   flex-grow: 1;
// }

// nz-header,

// nz-footer {
//   text-align: center;
// }



// nz-breadcrumb {
//   margin: 16px 0;
// }

// .inner-layout {
//   padding: 24px 0;
//   background: #fff;
// }

// .sider-menu {
//   height: 100%;
// }

// .inner-content {
//   padding: 0 24px;
//   min-height: 280px;
// }

// nz-footer {
//   text-align: center;
// }


// .anticon {
//   vertical-align: 0;
// }
