<header>
  <div class="logo">
    <a href="/"><img src="assets/images/full-logo.svg"></a>
  </div>

  <div class="user-infos">
    <div class="name">{{ this.currentUser.displayName }}</div>
    <div>
      <button nz-button [nzLoading]="isLoading" nzType="default" nzSize="small" (click)="signOut()"><i nz-icon nzType="logout" nzTheme="outline"></i> Sign out</button>
    </div>
  </div>
</header>
<div class="base">
  <router-outlet></router-outlet>
</div>
