[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email],
[type=month], [type=number], [type=password], [type=search], [type=tel],
[type=text], [type=time], [type=url], [type=week], textarea, select {
  margin: 0;
  background-color: white;
}
// #f5f5f5
input.normal {
  border: 1px solid #cacaca;
}



.wrapper textarea {
  width: 100%;
}

.label {
  display: inline-block;
  padding: .33333rem .5rem;
  border-radius: 0;
  font-size: .8rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  background: #1779ba;
  color: #fefefe;
}
.label.primary {
  background: #40a9ff;
  color: #fefefe;
}

.section {

  margin-bottom: 2em;
  background: white;
  border: none;
  outline: none;

  [nz-form-item], .ant-form-item {
    margin-bottom: 10px;
  }

  input {
    border: none;
    box-shadow: none;
    font-family: monospace;
  }

  textarea {
    border: none;
    box-shadow: none;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    padding: 0;
    min-height: 20px;
  }

  input:focus, textarea:focus {
    border-bottom: 2px #1779ba solid;
  }

  .section-nav {
    [nz-button] {
      margin-right: 8px;
      margin-bottom: 12px;
    }

    .button-group {
      margin-bottom: 0;
    }
    .label {
      line-height: inherit;
      font-size: 1rem;
    }
    .section-index {
      padding: 8px 8px 8px 42px;
      padding-bottom: 0;

      textarea {
        background: #40a9ff;
        width: 10em;
      }
    }
  }

  .section-header {
    padding: 1em 1em 1em 0;
    border: none;

    .title {
      font-size: 34px;
    }
  }

  .section-body {

    // padding: 1em 1em 1em 0;
    display: block;
    // border: green 2px solid;
    border-radius: 4px;
    overflow: hidden;

    .section-question {}

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }
  }

  .view {
    [nz-radio] {
      display: block;
    }
  }


}

.wrapper {
  // padding-bottom: 10px;
  // margin-left: 42px;
  padding-left: 42px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.one-option-add-wrapper {
  // margin-left: 42px;
}

.one-option-wrapper, .one-option-add-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  // min-height: 48px;
  padding: 4px 0px;

  &:hover {

    .option-drag-image {
      visibility: visible;
    }

    .bottom-line {
      visibility: visible;
    }

  }

  .bottom-line {
    visibility: hidden;
  }

  .option-drag-image {
    // height: 48px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    opacity: .3;
    visibility: hidden;
    cursor: move;
    margin-top: 4px;
  }

  .option-times-image {
    // height: 48px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    opacity: .3;
    cursor: pointer;

    span {
      font-size: xx-large;
    }
  }

  .option-radio-image {
    // display: flex;
    // align-items: center;
    // flex-shrink: 0;
    // height: 48px;
    pointer-events: none;
    margin-right: 10px;
    cursor: default;
  }

  .option-title-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* align-items: center; */
    justify-content: center;
    // min-height: 48px;
    flex-grow: 1;

  }

  .option-jump-to {
    display: flex;
    flex-grow: .5;
    // min-height: 40px;
    align-items: flex-end;
  }

  .add-option-add-other-wrapper {
    display: inline-flex;
    // height: 48px;
    align-items: center;

    .or-wrapper {
      // margin: 0 2px 2px 6px;
      // margin: 8px 4px;
      margin: 0px 4px;
      padding-bottom: 1px;
    }

    .add-other-wrapper {
      text-transform: uppercase;
      cursor: pointer;
      font-size: 14px;

      .add-other {
        color: #1a73e8;
        font-size: 13px;
        font-weight: 500;
        line-height: normal;
        margin: 0px 2px;
        // margin: 8px 2px;
      }
    }
  }
}

.section-question {

  background: white;
  border:none;
  outline: none;
  // padding: 1em 0em 1em 0;

  .section-question-header {
    display: flex;
    flex-direction: column;
    padding-right: 1em;

    & > div:first-child {
      color: #adb5bd;
      cursor: move;
      display: inline-block;
      text-align: center;
    }

    .top-part {
      align-items: flex-end;
      // min-height: 48px;

      .question-title-wrapper {
        flex-grow: 1;
        margin-right: 2em;
        padding-left: 0;

        .question-title {
          font-size: 20px;
        }
      }

      .question-key-wrapper {
        margin-left: 42px;

        .question-key {
          width: 4em;
          font-size: 15px;
          font-style: italic;
          font-weight: bold;
        }
      }

      select {
        margin: 0 0 10px 0;
      }
    }

    .question-description-wrapper {
      // margin-top: 10px;
    }

  }

  input {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    background-color: transparent;
    border: none;
    display: block;
    margin: 0;
    outline: none;
    min-width: 0%;
    padding: .125em 0;
    z-index: 0;
  }

  textarea {
    border: none;
    box-shadow: none;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    padding: 0;
    min-height: 20px;
  }

  input, textarea {
    font-size: 13px;
  }

  input:focus, textarea:focus {
    border: none;
    border-bottom: 2px #1779ba solid;
  }

  .cdk-drag-handle {
    visibility: hidden;
  }

  .section-question-body {
    // margin-top: 12px;
    padding-right: 1em;
    // margin-bottom: 24px;

    .question-wrapper {
      width: 100%;
    }

    .datatable-wrapper {
      width: 100%;

      .values {
        display: flex;
        flex-direction: column;
        margin: auto;

        // > div {
        //   width: 50%;
        // }


        .cols {
          .col-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .option-title-wrapper {
            flex-grow: 3;
          }

          .custom-types {
            flex-grow: 1;

            nz-select {
              width: 100%;
            }
          }

          .custom-types-filled {
            width: 75%;
            margin: auto;

            .subchoice {
              display: flex;
            }
          }
        }

        .rows {
          .row-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }

      .additionals {
        > div {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .short-answer-text-wrapper, .date-answer-wrapper, .time-answer-wrapper {
      width: 50%;
      display: block;
      // margin-bottom: 28px;

      .short-answer-text, .date-answer, .time-answer {
        width: 100%;
        padding-bottom: 5px;
        display: inline-block;

        cursor: default;
        background: transparent;
      }

      .bottom-line {
        border-bottom: 1px dotted rgba(0,0,0,0.38);
        background: none;
      }
    }

    .long-answer-text-wrapper {
      width: 80%;
      display: block;

      .long-answer-text {
        width: 100%;
        display: inline-block;

        cursor: default;
        background: transparent;
      }
    }


  }

  .section-question-footer {
    border-top: 2px solid lightgrey;
    padding-right: 1em;
    display: none;

    & > div {
    }

    [nz-button] {
      margin-left: 8px;
      margin-bottom: 6px;
      margin-top: 6px;
    }

    [nz-icon] {
      display: flex!important;
      justify-content: center;
      // vertical-align: center;
      align-items: center;
    }

  }

  .one-option-add-wrapper, .option-times-image, .option-jump-to {
    display: none;
  }


}

.section.active {

  .section-header.active {
    border-left: 3px #40a9ff solid;
    // border-left: 3px #40a9ff solid;
  }


  .section-question {
    .do {
      display: none;
    }

    &.active {
      box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3);
      margin: 3px 2px 3px 0px;
      border-left: 3px #40a9ff solid;
      // border-left: 3px #1779ba solid;

      .bottom-line {
        background-color: rgba(0,0,0,0.12);
        height: 1px;
        width: 100%;
      }

      .cdk-drag-handle {
        visibility: visible;
      }

      .one-option-add-wrapper, .option-times-image, .option-jump-to {
        display: flex;
      }

      .section-question-footer {
        display: block;
      }
    }

    &.hover {
      background-color: aqua;

      .do {
        display: block;
        text-align: center;
      }
    }
  }
}

input.normal {
  border: 1px solid #cacaca;
}

.visualizing {

  padding: 0px 25px;

  [nz-radio], [nz-checkbox] {
    display: block;
    margin-left: 0px;
  }

  nz-select, nz-time-picker {
    margin-right: 0px;
    width: 25%;
  }

  // textarea:focus {
  //   border-bottom: inherit;
  // }
}
