<div class="section" tabindex="1" (click)="onSelectXormSection($event)" [ngClass]='{"active": isEnabled}' [hidden]="!isEditingOrVisualizing">
  <div class="section-nav">
    <div class="d-flex justify-content-between">
      <div class="label primary section-index">
        <textarea rows='1' wrap="hard" class="question-key" type="text" [(ngModel)]="xormSection._params.key" placeholder="ID/Variable"></textarea>
      </div>
      <div>
        <button nz-button nzType="primary" nzSize="small" nz-popover
        nzPopoverTrigger="click" [nzPopoverTitle]="settingsTitleTemplate" [nzPopoverContent]="settingsContentTemplate">Settings</button>
        <button nz-button nzType="primary" nzSize="small">Duplicate</button>
        <button nz-button nzType="danger" nzSize="small">Delete</button>
      </div>
    </div>
  </div>
  <ng-template #settingsTitleTemplate><i nz-icon nzType="setting" nzTheme="outline"></i> Settings</ng-template>
  <ng-template #settingsContentTemplate>
    <div style="width: 50em;">
      <nz-form-item>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <span>Is it a repeatable section?</span>
          <nz-switch [(ngModel)]="xormSection._params.repeat"></nz-switch>
        </div>
      </nz-form-item>

      <div class="" *ngIf="xormSection._params.repeat">
        <div class="d-flex flex-column justify-content-between">
          <!-- How many times do you want to repeat it, please? (Maximum)
          <nz-radio-group [(ngModel)]="xormSection._params.repeat_max_times" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            <label nz-radio nzValue="unlimitted">Unlimitted</label>
            <label nz-radio nzValue="fixed">Constant value/Fixed number</label>
            <label nz-radio nzValue="variable">From a variable</label>
            <label nz-radio nzValue="subgroup">Subgroup from a preceding repeated section</label>
          </nz-radio-group> -->
          <nz-form-item>
            <label>How many times do you want to repeat it, please? (Maximum)</label>
            <nz-radio-group [(ngModel)]="xormSection._params.repeat_max_times" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
              <label nz-radio nzValue="unlimitted">Unlimitted</label>
              <label nz-radio nzValue="fixed">Constant value/Fixed number</label>
              <label nz-radio nzValue="variable">From a variable</label>
              <label nz-radio nzValue="inner">From an inner question</label>
            </nz-radio-group>
          </nz-form-item >
        </div>
        <div class="" *ngIf="xormSection._params.repeat_max_times == 'fixed'">
          <nz-form-item>
            <label>Maximum number of times to repeat it</label>
            <nz-form-control>
              <nz-input-number [(ngModel)]="xormSection._params.repeat_max_times_fixed" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item >
        </div>
        <div class="" *ngIf="xormSection._params.repeat_max_times == 'variable'">
          <nz-form-item>
            <label>Select the variable from those non-repeated section</label>
            <nz-select [(ngModel)]="xormSection._params.repeat_max_times_variable" nzAllowClear nzPlaceHolder="Choose">
              <nz-option nzValue="0__fix__0" nzLabel="Not from a question answer. I will fix it."></nz-option>
              <nz-option-group *ngFor="let optg of getAllPreOptions(); let o=index;" [nzLabel]="optg.params.title">
                <nz-option *ngFor="let opti of optg.options" [nzValue]="opti.id.key" nzLabel="{{ opti.section }} -- {{ opti.id.title }}"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
              </nz-option-group>
            </nz-select>
          </nz-form-item >
        </div>
        <div class="" *ngIf="xormSection._params.repeat_max_times == 'inner'">
          <label>The title of the question</label>
          <input nz-input [(ngModel)]="xormSection._params.repeat_max_times_idinner" placeholder="ID of the question" />
          <input nz-input [(ngModel)]="xormSection._params.repeat_max_times_inner" placeholder="Title of the question" />
        </div>
      </div>
    </div>
  </ng-template>
  <div class="section-header" [ngClass]='{"active": currentQuestion === -1}' (click)="onQuestion($event, -1)">
    <div class="d-flex justify-content-between">
      <div class="wrapper">
        <textarea rows='1' wrap="hard" type="text" class="title" placeholder="Enter the title of this section" [(ngModel)]="xormSection._params.title"></textarea>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="wrapper padding-top-1">
        <textarea rows='1' wrap="hard" type="text" class="description" placeholder="Description / Hint (optional)" [(ngModel)]="xormSection._params.description"></textarea>
      </div>
    </div>

  </div>

  <div class="do" *ngIf="xormSection.questions.length === 0">
    <button 
      nz-button nzType="text"
      nz-dropdown nzTrigger="click" [nzDropdownMenu]="actionSectionMenu" nzPlacement="bottomCenter"
    >
      <i nz-icon nzType="plus"></i>
    </button>
    <nz-dropdown-menu #actionSectionMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="onAddSection('before', sectionIndex)">Section</li>
        <li nz-menu-item (click)="onAddTitleDescription('before', 0)">Title and Description</li>
        <li nz-submenu nzTitle="Question">
          <ul>
            <li nz-menu-item 
              *ngFor="let type of questionType | keys"
              (click)="onAddQuestion(type, 'before', 0)"
            >{{ questionType[type] }}</li>
          </ul>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>

  <div cdkDropList class="section-body" (cdkDropListDropped)="drop($event)">
    <div class="section-question" *ngFor="let question of xormSection.questions; let i=index;"
        cdkDrag (click)="onQuestion($event, i)"  
        (mouseover)="onMouseoverQuestion($event, i)"
        (mouseout)="onMouseoutQuestion($event)"
        [ngClass]='{"active": currentQuestion === i, "hover": hoverQuestion === i}'
    >
      
      <div class="section-question-header">
        <div style="display: flex; flex-direction: row; justify-content: center;">
          <div cdkDragHandle >
            <i class="fas fa-grip-horizontal"></i>
          </div>
          <div class="do">
            <button nz-button nzType="primary" nzShape="circle"
              nz-dropdown nzTrigger="click" [nzDropdownMenu]="actionTopMenu" nzPlacement="topCenter"
            >
              <i nz-icon nzType="plus"></i>
            </button>
            <!-- <i nz-icon nzType="plus" 
              nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="topCenter"></i> -->
            <nz-dropdown-menu #actionTopMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="onAddSection('before', sectionIndex)">Section</li>
                <li nz-menu-item (click)="onAddTitleDescription('before', i)">Title and Description</li>
                <li nz-submenu nzTitle="Question">
                  <ul>
                    <li nz-menu-item 
                      *ngFor="let type of questionType | keys"
                      (click)="onAddQuestion(type, 'before', i)"
                    >{{ questionType[type] }}</li>
                  </ul>
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
        <div class="">
          <div class="d-flex justify-content-between align-items-center top-part">
           <div class="wrapper question-title-wrapper" style="margin-left: 42px;">
              <textarea rows='1' wrap="hard" class="question-title" type="text" [(ngModel)]="xormSection.questions[i].title" placeholder="Title of the question"></textarea>
            </div>
            <div class="" [hidden]="xormSection.questions[i].type == 'tidesc' || currentQuestion != i">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a type" nzSize="small"
                [(ngModel)]="xormSection.questions[i].type" (ngModelChange)="onTypeChanged($event, i)">
                <nz-option *ngFor="let type of questionType | keys" [nzValue]="type" [nzLabel]="questionType[type]"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="wrapper question-description-wrapper" [hidden]="xormSection.questions[i].type == 'tidesc'">
            <textarea rows='1' wrap="hard" class="question-description" type="text" [(ngModel)]="xormSection.questions[i].description" placeholder="Description / Hint (optional)"></textarea>
          </div>
        </div>
      </div>
      <div class="section-question-body" [ngSwitch]="question.type">
        <div *ngSwitchCase="'tidesc'" class="wrapper question-wrapper">
          <!-- <div class="long-answer-text-wrapper">
            <textarea rows='1' wrap="hard" type="text" class="long-answer-text" disabled placeholder="Put your text here"></textarea>
          </div> -->
        </div>
        <div *ngSwitchCase="'string'" class="wrapper question-wrapper">
          <div class="short-answer-text-wrapper">
            <input type="text" class="short-answer-text" disabled placeholder="Short answer text"/>
          </div>
        </div>
        <div *ngSwitchCase="'number'" class="wrapper question-wrapper">
          <div class="short-answer-text-wrapper">
            <input type="number" class="short-answer-text" disabled placeholder="Number"/>
          </div>
        </div>
        <div *ngSwitchCase="'text'" class="wrapper question-wrapper">
          <div class="long-answer-text-wrapper">
            <textarea rows='1' wrap="hard" type="text" class="long-answer-text" disabled placeholder="Long answer text"></textarea>
          </div>
        </div>
        <div *ngSwitchCase="'yes-no'" cdkDropList (cdkDropListDropped)="dropOption($event, i)">
          <div *ngFor="let option of xormSection.questions[i].options; let j = index;" cdkDrag>
            <div class="one-option-wrapper">
              <div class="option-drag-image" cdkDragHandle>
                <i class="fas fa-grip-vertical"></i>
              </div>
              <div class="option-radio-image">
                <i class="far fa-circle"></i>
              </div>
              <div class="option-title-wrapper" style="flex: 3 1 20%;">
                <input type="text" class="option-title" [(ngModel)]="xormSection.questions[i].options[j].value"/>
              </div>
              <div class="option-times-image">
                <button nz-button disabled type="button" nzShape="circle" nzSize="small" (click)="onRemoveOption(i, j)" tooltip="Duplicate"><i nz-icon nzType="close"></i></button>
              </div>
              <div class="option-jump-to" style="flex: 2 2 20%;">
                <nz-select style="width:100%" nzShowSearch nzAllowClear nzPlaceHolder="Continue to next question" nzSize="small"
                  [(ngModel)]="xormSection.questions[i].options[j].jumpTo">
                  <!-- <nz-option-group *ngFor="let optg of getAllPostOptions(xormSection.questions[i].key, 1); let o=index;" nzLabel="{{ optg.params.title }}">
                    <nz-option *ngFor="let opti of optg.options" nzValue="{{ opti.id.key }}" nzLabel="{{ opti.section }} - {{ opti.id.title }}"></nz-option>
                  </nz-option-group> -->
                </nz-select>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'yes-no-dont'" cdkDropList (cdkDropListDropped)="dropOption($event, i)">
          <div *ngFor="let option of xormSection.questions[i].options; let j = index;" cdkDrag>
            <div class="one-option-wrapper">
              <div class="option-drag-image" cdkDragHandle>
                <i class="fas fa-grip-vertical"></i>
              </div>
              <div class="option-radio-image">
                <i class="far fa-circle"></i>
              </div>
              <div class="option-title-wrapper" style="flex: 3 1 20%;">
                <input type="text" class="option-title" [(ngModel)]="xormSection.questions[i].options[j].value"/>
              </div>
              <div class="option-times-image">
                <button nz-button disabled type="button" nzShape="circle" nzSize="small" (click)="onRemoveOption(i, j)" tooltip="Duplicate"><i nz-icon nzType="close"></i></button>
              </div>
              <div class="option-jump-to" style="flex: 2 2 20%;">
                <nz-select style="width:100%" nzShowSearch nzAllowClear nzPlaceHolder="Continue to next question" nzSize="small"
                  [(ngModel)]="xormSection.questions[i].options[j].jumpTo">
                  <!-- <nz-option-group *ngFor="let optg of getAllPostOptions(xormSection.questions[i].key, 1); let o=index;" nzLabel="{{ optg.params.title }}">
                    <nz-option *ngFor="let opti of optg.options" nzValue="{{ opti.id.key }}" nzLabel="{{ opti.section }} - {{ opti.id.title }}"></nz-option>
                  </nz-option-group> -->
                </nz-select>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'single-choice'" cdkDropList (cdkDropListDropped)="dropOption($event, i)">
          <div *ngFor="let option of xormSection.questions[i].options; let j = index;" cdkDrag>
            <div class="one-option-wrapper">
              <div class="option-drag-image" cdkDragHandle>
                <i class="fas fa-grip-vertical"></i>
              </div>
              <div class="option-radio-image">
                <i class="far fa-circle"></i>
              </div>
              <div class="option-title-wrapper" style="flex: 3 1 20%;">
                <input type="" class="option-title" [(ngModel)]="xormSection.questions[i].options[j].value"/>
              </div>
              <div class="option-times-image">
                <button nz-button type="button" nzShape="circle" nzSize="small" (click)="onRemoveOption(i, j)" tooltip="Duplicate"><i nz-icon nzType="close"></i></button>
              </div>
              <div class="option-jump-to" style="flex: 2 2 20%;">
                <nz-select style="width:100%" nzShowSearch nzAllowClear nzPlaceHolder="Continue to next question" nzSize="small"
                  [(ngModel)]="xormSection.questions[i].options[j].jumpTo">
                  <!-- <nz-option-group *ngFor="let optg of getAllPostOptions(xormSection.questions[i].key, 1); let o=index;" nzLabel="{{ optg.params.title }}">
                    <nz-option *ngFor="let opti of optg.options" nzValue="{{ opti.id.key }}" nzLabel="{{ opti.section }} - {{ opti.id.title }}"></nz-option>
                  </nz-option-group> -->
                </nz-select>
              </div>
            </div>
          </div>
          <div class="">
            <div class="one-option-add-wrapper">
              <div class="option-drag-image hide">
                <i class="fas fa-grip-vertical"></i>
              </div>
              <div class="option-radio-image">
                <i class="far fa-circle"></i>
              </div>
              <div class="add-option-add-other-wrapper">
                <div class="add-option-wrapper" (click)="onAddOption(i)">
                  <div class="">Add option</div>
                  <!-- <div class="bottom-line"></div> -->
                </div>
                <div class="d-flex justify-content-between align-items-center" *ngIf="!xormSection.questions[i].otherOption">
                  <div class="or-wrapper">or</div>
                  <div class="add-other-wrapper" (click)="onAddOther(i)">
                    <div class="add-other">ADD "OTHER"</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'multiple-choice'" cdkDropList (cdkDropListDropped)="dropOption($event, i)">
          <div *ngFor="let option of xormSection.questions[i].options; let j = index;" cdkDrag>
            <div class="one-option-wrapper">
              <div class="option-drag-image" cdkDragHandle>
                <i class="fas fa-grip-vertical"></i>
              </div>
              <div class="option-radio-image">
                <i class="far fa-square"></i>
              </div>
              <div class="option-title-wrapper">
                <input type="" class="option-title" [(ngModel)]="xormSection.questions[i].options[j].value"/>
              </div>
              <div class="option-times-image">
                <button nz-button type="button" nzShape="circle" nzSize="small" (click)="onRemoveOption(i, j)" tooltip="Duplicate"><i nz-icon nzType="close"></i></button>
              </div>
              <div class="option-jump-to">
                <nz-select style="width:100%" nzShowSearch nzAllowClear nzPlaceHolder="Continue to next question" nzSize="small"
                  [(ngModel)]="xormSection.questions[i].options[j].jumpTo">
                  <!-- <nz-option-group *ngFor="let optg of getAllPostOptions(xormSection.questions[i].key, 1); let o=index;" nzLabel="{{ optg.params.title }}">
                    <nz-option *ngFor="let opti of optg.options" nzValue="{{ opti.id.key }}" nzLabel="{{ opti.section }} - {{ opti.id.title }}"></nz-option>
                  </nz-option-group> -->
                </nz-select>
              </div>
            </div>
          </div>
          <div class="">
            <div class="one-option-add-wrapper">
              <div class="option-drag-image hide">
                <i class="fas fa-grip-vertical"></i>
              </div>
              <div class="option-radio-image">
                <i class="far fa-square"></i>
              </div>
              <div class="add-option-add-other-wrapper">
                <div class="add-option-wrapper" (click)="onAddOption(i)">
                  <div class="">Add option</div>
                  <div class="bottom-line"></div>
                </div>
                <div class="d-flex justify-content-between align-items-center" *ngIf="!xormSection.questions[i].otherOption">
                  <div class="or-wrapper">or</div>
                  <div class="add-other-wrapper" (click)="onAddOther(i)">
                    <div class="add-other">ADD "OTHER"</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div xorm-question-single-choice-select
          *ngSwitchCase="'single-choice-select'"
          [question]="xormSection.questions[i]"
          cdkDropList (cdkDropListDropped)="dropOption($event, i)"
        ></div>
        <div *ngSwitchCase="'date'" class="wrapper question-wrapper">
          <div class="date-answer-wrapper">
            <input type="" class="date-answer" disabled placeholder="Date (Month, Year, Day)"/>
          </div>
        </div>
        <div *ngSwitchCase="'time'" class="wrapper question-wrapper">
          <div class="time-answer-wrapper">
            <input type="" class="time-answer" disabled placeholder="Time"/>
          </div>
        </div>
        <div *ngSwitchCase="'datatable'" class="wrapper question-wrapper">
          <div class="datatable-wrapper">
            <div class="values">
              <div class="cols">
                <div class="col-header">
                  <div>Columns header</div>
                  <div>
                    <label nz-checkbox [(ngModel)]="xormSection.questions[i].settings.cols.customTypes">Custom Types</label>
                  </div>
                </div>
                <div *ngFor="let option of xormSection.questions[i]['cols']; let j = index;" cdkDrag>
                  <div class="one-option-wrapper">
                    <div class="option-drag-image" cdkDragHandle>
                      <i class="fas fa-grip-vertical"></i>
                    </div>
                    <div class="option-radio-image">
                      {{ j + 1 }}
                    </div>
                    <div class="option-title-wrapper">
                      <input type="" class="option-title" [(ngModel)]="xormSection.questions[i].cols[j].text"/>
                      <div class="bottom-line"></div>
                    </div>
                    <div class="custom-types" *ngIf="xormSection.questions[i].settings.cols.customTypes">
                      <nz-select nzShowSearch nzAllowClear  nzSize="small"
                        [(ngModel)]="xormSection.questions[i].cols[j].type"
                        (ngModelChange)="onColumnTypeChanged($event, i, j)">
                        <nz-option *ngFor="let type of datatableCustomTypes" [nzValue]="type" [nzLabel]="type"></nz-option>
                      </nz-select>
                    </div>
                    <div class="option-times-image">
                      <button nz-button type="button" nzShape="circle" nzSize="small" (click)="onRemoveCol(i, j)" tooltip="Duplicate"><i nz-icon nzType="close"></i></button>
                    </div>
                  </div>
                  <div class="custom-types-filled" [ngSwitch]="xormSection.questions[i].cols[j].type">
                    <div *ngSwitchCase="'Single Choice'">
                      <div class="subchoice" *ngFor="let choice of xormSection.questions[i].cols[j].choices; let k = index;">
                        <div class="option-title-wrapper">
                          <input type="" class="option-title" [(ngModel)]="xormSection.questions[i].cols[j].choices[k].value"/>
                        </div>
                        <div class="option-times-image">
                          <button nz-button type="button" nzShape="circle" nzSize="small" (click)="removeSubchoiceToColumn(i, j, k)" tooltip="Duplicate"><i nz-icon nzType="close"></i></button>
                        </div>
                      </div>
                      <button nz-button type="button" nzType="primary" nzSize="small" (click)="addSubchoiceToColumn(i, j)">add a choice</button>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="one-option-add-wrapper">
                    <div class="option-drag-image hide">
                      <i class="fas fa-grip-vertical"></i>
                    </div>
                    <div class="option-radio-image">
                      {{ xormSection.questions[i].cols.length + 1 }}
                    </div>
                    <div class="add-option-add-other-wrapper">
                      <div class="add-option-wrapper" (click)="onAddCol(i)">
                        <div class="">Add column</div>
                        <div class="bottom-line"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rows">
                <div class="row-header">
                  <div>Rows header</div>
                  <div class="row-options">
                    <label nz-checkbox [(ngModel)]="xormSection.questions[i].settings.rows.none">No rows headers</label>
                  </div>
                </div>
                <div  *ngIf="!xormSection.questions[i].settings.rows.none">
                  <div
                    *ngFor="let option of xormSection.questions[i]['rows']; let j = index;" 
                    cdkDrag
                  >
                    <div class="one-option-wrapper">
                      <div class="option-drag-image" cdkDragHandle>
                        <i class="fas fa-grip-vertical"></i>
                      </div>
                      <div class="option-radio-image">
                        {{ j + 1 }}
                      </div>
                      <div class="option-title-wrapper">
                        <input type="" class="option-title" [(ngModel)]="xormSection.questions[i].rows[j].text"/>
                        <div class="bottom-line"></div>
                      </div>
                      <div class="">
                        <label nz-checkbox [(ngModel)]="xormSection.questions[i].rows[j].header"></label>
                      </div>
                      <div class="option-times-image">
                        <button nz-button type="button" nzShape="circle" nzSize="small" (click)="onRemoveRow(i, j)" tooltip="Duplicate"><i nz-icon nzType="close"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="one-option-add-wrapper">
                      <div class="option-drag-image hide">
                        <i class="fas fa-grip-vertical"></i>
                      </div>
                      <div class="option-radio-image">
                        {{ xormSection.questions[i].rows.length + 1 }}
                      </div>
                      <div class="add-option-add-other-wrapper">
                        <div class="add-option-wrapper" (click)="onAddRow(i)">
                          <div class="">Add row</div>
                          <div class="bottom-line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="additionals">
              <div>
                <label>Number of lines displayed by default: </label>
                <input type="number" [(ngModel)]="xormSection.questions[i].settings.rows.displayedLinesDefault"/>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'scale'" class="wrapper question-wrapper">
          <div style="
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-between;
          ">
            <div>
              <input type="text" class="short-answer-text" [(ngModel)]="xormSection.questions[i]['min'].text"/>
              <input type="number" class="short-answer-text" placeholder="Number" [(ngModel)]="xormSection.questions[i]['min'].value"/>
            </div>
            <div>
              <input type="text" class="short-answer-text" [(ngModel)]="xormSection.questions[i]['max'].text"/>
              <input type="number" class="short-answer-text" placeholder="Number" [(ngModel)]="xormSection.questions[i]['max'].value"/>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'rate'" class="wrapper question-wrapper">
          <div class="short-answer-text-wrapper">
            <input type="number" class="short-answer-text" placeholder="Number" [(ngModel)]="xormSection.questions[i]['count'].value"/>
          </div>
          <!-- <div style="
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-between;
          ">
            <input type="number" class="short-answer-text" placeholder="Number" [(ngModel)]="xormSection.questions[i]['count'].value"/>
          </div> -->
        </div>
        <div class="do">
          <button nz-button nzType="primary" nzShape="circle"
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="actionBottomMenu" nzPlacement="topCenter"
          >
            <i nz-icon nzType="plus"></i>
          </button>
          <!-- <i nz-icon nzType="plus" 
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="topCenter"></i> -->
          <nz-dropdown-menu #actionBottomMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="onAddSection('after', sectionIndex)">Section</li>
              <li nz-menu-item (click)="onAddTitleDescription('after', i)">Title and Description</li>
              <li nz-submenu nzTitle="Question">
                <ul>
                  <li nz-menu-item 
                    *ngFor="let type of questionType | keys"
                    (click)="onAddQuestion(type, 'after', i)"
                  >{{ questionType[type] }}</li>
                </ul>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
      <!-- <div class="section-question-body" [ngSwitch]="question.type">
        <div class="question-settings">
          <nz-collapse nzGhost>
            <nz-collapse-panel
              nzHeader="Settings"
              nzActive="true"
            >
              <div *ngSwitchCase="'single-choice'" cdkDropList (cdkDropListDropped)="dropOption($event, i)">
                <div>
                  <label nz-checkbox [(ngModel)]="question.settings.otherOption">With <span class="add-other">"OTHER"</span> option</label>
                </div>
              </div>
              <div *ngSwitchCase="'multiple-choice'" cdkDropList (cdkDropListDropped)="dropOption($event, i)">
                <div>
                  <label nz-checkbox [(ngModel)]="question.settings.otherOption">With <span class="add-other">"OTHER"</span> option</label>
                </div>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </div>
      </div> -->
      <div class="section-question-footer">
        <div class="d-flex justify-content-between align-items-center">
          <div class="ml-auto" style="margin-left: auto;">
            <button nz-button type="button" nzShape="circle" (click)="onDuplicateQuestion(i)" tooltip="Duplicate"><i nz-icon nzType="copy"></i></button>
            <button nz-button type="button" nzShape="circle" (click)="onDeleteQuestion(i)" tooltip="Delete"><i nz-icon nzType="delete"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="visualizing" [hidden]="isEditingOrVisualizing">
  <div class="mb-4">
    <h2 nz-title>{{ xormSection._params.title }} <small>Section {{ sectionIndex }}/{{ numberOfSection }}</small></h2>
    <p nz-paragraph>{{ xormSection._params.description }}</p>
  </div>

  <div class="mt-4 mb-4" *ngFor="let question of xormSection.questions; let i=index;">
    <div class="">
      <h5>{{ question.title }}</h5>
      <div>{{ question.description }}</div>
    </div>
    <div class="" [ngSwitch]="question.type">
      <div *ngSwitchCase="'string'" class="question-wrapper">
        <div class="short-answer-text-wrapper">
          <input nz-input type="" class="" placeholder="enter your answer here"/>
        </div>
      </div>
      <div *ngSwitchCase="'number'" class="question-wrapper">
        <div class="short-answer-text-wrapper">
          <!-- <nz-input-number type="number" class="" placeholder="enter your answer here"><nz-input-number /> -->
            <nz-input-number [nzPlaceHolder]="'enter your answer here'"></nz-input-number>
        </div>
      </div>
      <div *ngSwitchCase="'text'" class="question-wrapper">
        <div class="long-answer-text-wrapper">
          <textarea nz-input rows='5' wrap="hard" type="text" class="" placeholder="enter your answer here"></textarea>
        </div>
      </div>
      <div *ngSwitchCase="'yes-no'">
        <nz-radio-group>
          <label nz-radio *ngFor="let option of xormSection.questions[i].options; let j = index;" nzValue="{{ option.title }}">{{ option.title }}</label>
        </nz-radio-group>
      </div>
      <div *ngSwitchCase="'yes-no-dont'">
        <nz-radio-group>
          <label nz-radio *ngFor="let option of xormSection.questions[i].options; let j = index;" nzValue="{{ option.title }}">{{ option.title }}</label>
        </nz-radio-group>
      </div>
      <div *ngSwitchCase="'single-choice'">
        <nz-radio-group>
          <label nz-radio *ngFor="let option of xormSection.questions[i].options; let j = index;" nzValue="{{ option.title }}">{{ option.title }}</label>
        </nz-radio-group>
      </div>
      <div *ngSwitchCase="'multiple-choice'">
        <nz-checkbox-wrapper>
          <label nz-checkbox *ngFor="let option of xormSection.questions[i].options; let j = index;" nzValue="{{ option.title }}">{{ option.title }}</label>
        </nz-checkbox-wrapper>
      </div>
      <div *ngSwitchCase="'single-choice-select'">
        <nz-select nzAllowClear nzPlaceHolder="Select" nzSize="small">
          <nz-option *ngFor="let option of xormSection.questions[i].options; let j = index;" nzValue="{{ option.title }}" nzLabel="{{ option.title }}"></nz-option>
          <nz-option nzLabel="Default Value" nzValue="Default" nzHide></nz-option>
        </nz-select>
      </div>
      <div *ngSwitchCase="'date'" class="question-wrapper">
        <div class="date-answer-wrapper">
          <nz-date-picker [(ngModel)]="date"></nz-date-picker>
        </div>
      </div>
      <div *ngSwitchCase="'time'" class="question-wrapper">
        <div class="time-answer-wrapper">
          <nz-time-picker [(ngModel)]="time" [nzDefaultOpenValue]="defaultOpenValue"></nz-time-picker>
        </div>
      </div>
      <!-- <div *ngSwitchCase="'datatable'" class="question-wrapper">
        <nz-table #editRowTable nzBordered [nzData]="xormSection.questions[i].cols">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th *ngFor="let col of xormSection.questions[i].cols;">{{ col.text }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of xormSection.questions[i].rows; let j = index;" class="editable-row">
              <td [style.font-weight]="row.header ? 'bold' : 'normal'">{{ row.text }}</td>
              <td *ngFor="let col of xormSection.questions[i].cols;">
                <input type="text" nz-input />
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div> -->
      <div *ngSwitchCase="'scale'" class="question-wrapper">
        <div>
          <nz-slider [nzMin]="xormSection.questions[i].min.value" [nzMax]="xormSection.questions[i].max.value"></nz-slider>
        </div>
      </div>
      <div *ngSwitchCase="'rate'" class="question-wrapper">
        <div>
          <nz-rate [nzCount]="xormSection.questions[i].count.value"></nz-rate>
        </div>
      </div>
    </div>
  </div>
</div>
