.content {
  width: 50%;
  margin: auto;

  > div {
    border: 1px solid #e1e4e8;
    border-radius: 6px;
  }

  .xorm-item {
    padding: 16px 0;
    margin-top: -1px;
    border-top: 1px solid #eaecef;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    // .actions {
    //   float: right;
    // }
    .description {
      width: 90%;
      overflow: hidden;
      white-space: nowrap;
    }

    body {
      flex-grow: 1;
      
      &:hover {
        background-color: rgb(87, 87, 102);
        cursor: pointer;
      }
    }
  }
}
