<div class="content">
  <header class="same-line space-between">
    <h2>Forms</h2>
    <div>
      <button nz-button nzType="primary" (click)="onAddXorm()">Add</button>
    </div>
  </header>
  <nz-spin nzTip="Loading..." [nzSpinning]="isLoading">
    <div>
      <div class="xorm-item" *ngFor="let item of allXorms">
        <div class="body" (click)="onXorm(item)">
          <div class="title">{{ item.title }}</div>
          <div class="description">{{ item.description }}</div>
          <div class="tag"><nz-tag nzColor="success">{{ item.level }}</nz-tag></div>
        </div>
        <div class="actions">
          <button nz-button nzSize="small" nzType="danger" (click)="removeXorm(item.id)">
            Remove
          </button>
        </div>
      </div>
    </div>
  </nz-spin>
</div>