<div>
  <h6>Choices</h6>
  <div *ngFor="let option of question.options; let j = index;" cdkDrag>
    <div class="one-option-wrapper">
      <div class="option-drag-image" cdkDragHandle>
        <i class="fas fa-grip-vertical"></i>
      </div>
      <div class="option-radio-image">
        {{ j + 1 }}
      </div>
      <div class="option-title-wrapper">
        <input type="" class="option-title" [(ngModel)]="question.options[j].value"/>
        <div class="bottom-line"></div>
      </div>
      <div class="option-times-image">
        <button nz-button type="button" nzShape="circle" nzSize="small" (click)="onRemoveOption(i, j)" tooltip="Duplicate"><i nz-icon nzType="close"></i></button>
      </div>
      <div class="option-jump-to">
        <nz-select style="width:100%" nzShowSearch nzAllowClear nzPlaceHolder="Continue to next question" nzSize="small"
          [(ngModel)]="question.options[j].jumpTo">
        </nz-select>
      </div>
    </div>
  </div>
  <div class="">
    <div class="one-option-add-wrapper">
      <div class="option-drag-image hide">
        <i class="fas fa-grip-vertical"></i>
      </div>
      <div class="option-radio-image">
        {{ question.options.length + 1 }}
      </div>
      <div class="add-option-add-other-wrapper">
        <div class="add-option-wrapper" (click)="addOption()" style="cursor: pointer;">
          <div class="">Add option</div>
          <div class="bottom-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <h6>Settings</h6>
  <div>
    <label nz-checkbox [(ngModel)]="question.otherOption">With <span class="add-other">"OTHER"</span> option</label>
  </div>
  <div>
    <label nz-checkbox [(ngModel)]="question.addOptionAtEntry">Possible to add option during data entry</label>
  </div>
</div>