<div nz-row nzJustify="space-around" nzAlign="middle" style="display: flex; justify-content: space-around; align-items: center;">
  <div nz-col nzSpan="12" nzSm="24" nzLg="12">
     <nz-card>
        <nz-card-meta [nzTitle]="title" [nzDescription]="description"></nz-card-meta>
        
        <ng-template #title>
           <h2 class="">Sign In</h2>
        </ng-template>
        <ng-template #description>
           <p class="">Enter your credential to get access</p>
        </ng-template>
        <form class="" [formGroup]="signInForm" (ngSubmit)="signIn()">
          <nz-alert nzType="error" nzClosable="true" [hidden]="!error" [nzDescription]="error"></nz-alert>
          <nz-form-item>
            <nz-form-label nzfor="email" nzrequired="" class="ant-form-item-label">Email address</nz-form-label>
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input placeholder="Email" formControlName="email"/>
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzfor="password" nzrequired="" class="ant-form-item-label">Password</nz-form-label>
            <a class="float-right font-size-13 pt-2 text-muted" href="#/authentication/reset-password-1">Forget Password?</a>
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input placeholder="Password" formControlName="password"/>
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="font-size-13 text-muted">Don't have an account? <a class="small" (click)="signUp()">Sign Up</a></span>
                    <button nz-button nzType="primary" [nzLoading]="isLoading">Sign In</button>
                  </div>
                  <span class="ant-form-item-children-icon">
                  </span>
                </span>
              </div>
            </nz-form-control>
          </nz-form-item>
        </form>
     </nz-card>
  </div>
  <div nz-col nzSpan="12" nzSm="0" nzLg="12">
     <div class="d-none d-md-block"><img alt="" class="img-fluid" src="assets/images/login-2.png"></div>
  </div>
</div>
