app-xorms-data {
  height: 100%!important;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
[nz-button] {
  margin-left: 8px;
  // margin-bottom: 12px;
}
.ant-modal {
  background-color: yellow;
}
