<div class="">
  <div class="d-flex justify-content-between">
    <div class="">
      <h2 >Data</h2>
    </div>
    <div class="">
      <nz-space>
        <nz-space-item>
          <button nz-button nzType="primary" disabled>datamap</button>
        </nz-space-item>
        <nz-space-item>
          <nz-select [(ngModel)]="selectedForm" (ngModelChange)="onSelectedFormChanged()">
            <nz-option *ngFor="let form of allForms" [nzValue]="form._id" [nzLabel]="form.title"></nz-option>
          </nz-select>
        </nz-space-item>
        <nz-space-item>
          <button nz-button nzType="primary" nzSize="small" (click)="onAddData()">Add data</button>
        </nz-space-item>
        <nz-space-item>
          <a class="mr-3" nz-dropdown [nzDropdownMenu]="menu" nzType="link" [nzClickHide]="false">
            Export
            <i nz-icon nzType="down"></i>
          </a>
        </nz-space-item>
        <nz-space-item>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="onExcelExport()">Export in Excel</li>
              <li nz-menu-item>Export in CSV</li>
            </ul>
          </nz-dropdown-menu>
        </nz-space-item>
        <nz-space-item>
          <button nz-button nzType="danger" nzSize="small" [disabled]="!rowsSelected()" (click)="openDeleteModal()">Delete Selected Row</button>
          <button nz-button nzType="warning" nzSize="small" [disabled]="!rowsSelected()" (click)="onEditData()">Edit Selected Row</button>
          <button nz-button nzType="primary" nzSize="small" [disabled]="!rowsSelected()">Save</button>
        </nz-space-item>
      </nz-space>
    </div>
  </div>
  <div style="flex-grow: 1; background-color: red">
    <div class="d-flex align-items-center h-100">
      <ag-grid-angular
        style="height:300px"
        class="ag-theme-balham w-100"

        (gridReady)="onGridReady($event)"
        [gridOptions]="gridOptions"
        [rowData]="selectedData"
        rowSelection="multiple"

        (rowClicked)="onRowClicked($event)"
        (selectionChanged)="onSelectionChanged($event)"

        [defaultColDef]="defaultColDef"
        [columnDefs]="selectedColumns"

        (cellClicked)="onCellClick($event)"
        (cellDoubleClicked)="onCellDoubleClick($event)"
        (rowValueChanged)="onRowValueChanged($event)"
        >
      </ag-grid-angular>
    </div>
  </div>
</div>

<ng-template #confirmDeleteWindow>
  <p>Do you want to confirm?</p>
  <div class="button-group float-right">
    <button type="button" class="button secondary" (click)="confirmDelete()" >Yes</button>
    <button type="button" class="button primary" (click)="decline()" >No</button>
  </div>
</ng-template>
