:host {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}
.full-width-dialog .mat-dialog-container {
  max-width: 100vw !important;
}
[app-new-xorm] {
  background-color: #f5f5f5;
}

.textarea-wrapper {
  display: grid;

  &::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
  }

  & > textarea {
    resize: none;
    overflow: hidden;
  }

  &::after, & > textarea {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;

    /* Place on top of each other */
    // grid-area: 1 1 2 2;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }
}
