/* You can add global styles to this file, and also import other style files */

// @import "styles-variables";

// @import (reference) '~bootstrap/scss/bootstrap-reboot.scss';
// @import (reference) '~bootstrap/scss/bootstrap-grid.scss';

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

@import "~@ng-select/ng-select/themes/default.theme.css";
// @import (reference) "./node_modules/material-design-lite/src/material-design-lite.scss";
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "arial", sans-serif;
}

html,
body,
app-root {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  height: auto;

  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  background-color: aliceblue;
}

body {
  background-color: #f9fbfd;
  // overflow: auto;
}

.base {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

// body {
//   overflow: hidden;
//   margin: 0;

//   font-size: 0.875rem;
//   color: #333;
//   // background-color: #f5f5f5;
//   overflow-x: hidden;
//   height: 100%;

//   // font-family: monospace;
//   ;background-color: #f9fbfd
//   color: #53535f;
// }

label {
  display: inline-block;
  margin-bottom: 0;
}
.ant-form-item-label label {
  color: #53535f;
  font-weight: 500;
}
.text-muted {
  color: rgba(114, 132, 154, 0.7) !important;
}

.same-line {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.center {
  width: 50%;
  margin: auto;
}

.center-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

h1 {
  // color: #7c795d;
  font-family: "Trocchi";
  // font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

h2 {
  // color: #7c795d;
  font-family: "Source Sans Pro", sans-serif;
  // font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
}

h3 {
  // font-size: 21px;
}

.subheader {
  font-size: 15px;
  font-weight: 300;
  color: #86847e;
  margin: 0 0 12px;
}

p {
  color: #4c4a37;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}

.wrapper {
  padding: 0 50px;
}

.container {
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
