div[nz-typography] {
  margin-bottom: 0;
}

.translating-xorm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {

  }
  .sections {
    display: flex;
    flex-direction: row;
    .steps {
      width: 25%;
  
      [nz-steps] {
        cursor: pointer;
      }
    }
  
    .xorm {
      width: 75%;

      .questions {
        .question {

          .options, .cols, .rows {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            grid-auto-rows: minmax(50px, auto);

            .option, .col-item, .row-item {
              display: block;
            }
          }
        }
      }
    }
  
    fieldset.section {
      display: none;
  
      &.current-section {
        display: block;
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 24px;

  .steps-action {
    button {
      margin-left: 8px;
    }
  }
}
