<div *nzModalTitle>
  Translate into a new language <nz-tag nzColor="processing">{{ newLanguageName }}</nz-tag>
</div>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div *ngIf="isTranslatingProject">
    <div>
      <div nz-typography nzType="secondary" nzRequired>Title</div>
      <div>{{ data.title }}</div>
      <nz-form-control nzErrorTip="Please translate the title">
        <textarea
          nz-input
          formControlName="title"
          onInput="this.parentNode.dataset.replicatedValue = this.value"
        ></textarea>
      </nz-form-control>
    </div>
    <nz-form-item>
      <div nz-typography nzType="secondary">Description</div>
      <div>{{ data.description }}</div>
      <nz-form-control nzErrorTip="Please translate the description">
        <textarea
          nz-input
          formControlName="description"
          onInput="this.parentNode.dataset.replicatedValue = this.value"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div *ngIf="isTranslatingXorm" class="translating-xorm">
    <div class="header">
      <fieldset>
        <div>
          <div nz-typography nzType="secondary">Title</div>
          <div>{{ data.title }}</div>
          <nz-form-control nzErrorTip="Please translate the title">
            <textarea
              nz-input
              formControlName="title"
              onInput="this.parentNode.dataset.replicatedValue = this.value"
            ></textarea>
          </nz-form-control>
        </div>
      </fieldset>
    </div>
    <nz-divider></nz-divider>
    <div class="sections">
      <div class="steps">
        <nz-steps 
          [nzCurrent]="currentXormSection"
          (nzIndexChange)="onStepClicked($event)"
          nzDirection="vertical"
          nzSize="small"
        >
          <!-- <nz-step nzTitle="Xorm" nzDescription="Title and Description"></nz-step> -->
          <nz-step *ngFor="let section of data.xorm | keyvalue; let indexOfSection=index;"
            nzTitle="{{ section.value._params.title }}"
            nzDescription="{{ section.value._params.description }}"
          ></nz-step>
        </nz-steps>
      </div>
      <div class="xorm">
        <ng-container formGroupName="xorm">
          <fieldset 
            *ngFor="let section of data.xorm | keyvalue; let indexOfSection=index;"
            formGroupName="{{section.key}}"
            class="section"
            [ngClass]="{'current-section': indexOfSection === currentXormSection}"
          >
            <h5>HEADER</h5>
            <ng-container  formGroupName="_params">
              <div>
                <div nz-typography nzType="secondary">Title</div>
                <div>{{ section.value._params.title }}</div>
                <nz-form-control nzErrorTip="Please translate the title">
                  <textarea
                    nz-input
                    formControlName="title"
                    onInput="this.parentNode.dataset.replicatedValue = this.value"
                  ></textarea>
                </nz-form-control>
              </div>
              <div *ngIf="section.value._params.description">
                <div nz-typography nzType="secondary">Description</div>
                <div>{{ section.value._params.description }}</div>
                <nz-form-control nzErrorTip="Please translate the description">
                  <textarea
                    nz-input
                    formControlName="description"
                    onInput="this.parentNode.dataset.replicatedValue = this.value"
                  ></textarea>
                </nz-form-control>
              </div>
            </ng-container>
            <h5>QUESTIONS</h5>
            <fieldset formGroupName="questions" class="questions">
              <div class="question" *ngFor="let question of section.value.questions | keyvalue">
                <fieldset formGroupName="{{question.key}}">
                  <div>
                    <div nz-typography nzType="secondary">Title</div>
                    <div>{{ question.value.title }}</div>
                    <nz-form-control nzErrorTip="Please translate the title of this question">
                      <textarea
                        nz-input
                        formControlName="title"
                        onInput="this.parentNode.dataset.replicatedValue = this.value"
                      ></textarea>
                    </nz-form-control>
                  </div>
                  <div *ngIf="question.value.description">
                    <div nz-typography nzType="secondary">Description</div>
                    <div>{{ question.value.description }}</div>
                    <nz-form-control nzErrorTip="Please translate the description of this question">
                      <textarea
                        nz-input
                        formControlName="description"
                        onInput="this.parentNode.dataset.replicatedValue = this.value"
                      ></textarea>
                    </nz-form-control>
                  </div>
                  <ng-container>
                    <div *ngIf="question.value.type === 'multiple-choice' || 
                      question.value.type === 'single-choice' || 
                      question.value.type === 'single-choice-select' || 
                      question.value.type === 'yes-no'"
                    >
                      <div nz-typography nzType="secondary">Options</div>
                      <div class="options" formArrayName="options">
                        <div
                          class="option" 
                          *ngFor="let option of getQuestionOptions(section.key, question.key).controls;let i=index"
                          [formGroupName]="i"
                        >
                          <div>{{ data.xorm[section.key].questions[question.key].options[i].value }}</div>
                          <nz-form-control hidden nzErrorTip="Please translate the description of this question">
                            <textarea
                              nz-input
                              formControlName="key"
                              onInput="this.parentNode.dataset.replicatedValue = this.value"
                            ></textarea>
                          </nz-form-control>
                          <nz-form-control nzErrorTip="Please translate the description of this question">
                            <textarea
                              nz-input
                              formControlName="value"
                              onInput="this.parentNode.dataset.replicatedValue = this.value"
                            ></textarea>
                          </nz-form-control>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="question.value.type === 'datatable'">
                      <div nz-typography nzType="secondary">Cols</div>
                      <div class="cols" formArrayName="cols">
                        <div
                          class="col-item"
                          *ngFor="let col of getQuestionCols(section.key, question.key).controls;let i=index"
                          [formGroupName]="i"
                        >
                          <div>{{ data.xorm[section.key].questions[question.key].cols[i].text }}</div>
                          <nz-form-control hidden nzErrorTip="Please translate the description of this question">
                            <textarea
                              nz-input
                              formControlName="type"
                              onInput="this.parentNode.dataset.replicatedValue = this.value"
                            ></textarea>
                          </nz-form-control>
                          <nz-form-control nzErrorTip="Please translate the description of this question">
                            <textarea
                              nz-input
                              formControlName="text"
                              onInput="this.parentNode.dataset.replicatedValue = this.value"
                            ></textarea>
                          </nz-form-control>
                        </div>
                      </div>
                      <div nz-typography nzType="secondary">Rows</div>
                      <div class="rows" formArrayName="rows">
                        <div
                          class="row-item"
                          *ngFor="let row of getQuestionRows(section.key, question.key).controls;let i=index"
                          [formGroupName]="i"
                        >
                          <div>{{ data.xorm[section.key].questions[question.key].rows[i].text }}</div>
                          <nz-form-control hidden nzErrorTip="Please translate the description of this question">
                            <textarea
                              nz-input
                              formControlName="type"
                              onInput="this.parentNode.dataset.replicatedValue = this.value"
                            ></textarea>
                          </nz-form-control>
                          <nz-form-control nzErrorTip="Please translate the description of this question">
                            <textarea
                              nz-input
                              formControlName="text"
                              onInput="this.parentNode.dataset.replicatedValue = this.value"
                            ></textarea>
                          </nz-form-control>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </fieldset>
                <nz-divider nzDashed></nz-divider>
              </div>
            </fieldset>
          </fieldset>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button nz-button nzType="primary" type="submit" [nzLoading]="isSaving">Save the translation</button>
    <div class="steps-action" *ngIf="isTranslatingXorm">
      <button nz-button nzType="default" (click)="previousStep()" *ngIf="currentXormSection > 0">
        <span>Previous</span>
      </button>
      <button nz-button nzType="default" (click)="nextStep()" *ngIf="currentXormSection < (data.xorm | keys).length - 1">
        <span>Next</span>
      </button>
      <!-- <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
        <span>Done</span>
      </button> -->
    </div>
  </div>
</form>
