<div *nzModalTitle>
  {{ isXormOrProject == 1 ? 'Project' : 'Xorm' }} informations in <nz-tag nzColor="'#108ee9'">{{ language }}</nz-tag>
</div>
<div *ngIf="isXormOrProject == 1">
  <div>
    <div nz-typography nzType="secondary">Title</div>
    <div>{{ data.title }}</div>
  </div>
  <div>
    <div nz-typography nzType="secondary">Description</div>
    <div>{{ data.description }}</div>
  </div>
</div>
<div *ngIf="isXormOrProject == 2">
  <div *ngFor="let section of data.xorm | keyvalue">
    <nz-divider [nzText]="text">
      <ng-template #text>
        <div>{{ section.value._params.title }}</div>
      </ng-template>
    </nz-divider>
    <h5>HEADER</h5>
    <div>
      <div nz-typography nzType="secondary">Title</div>
      <div>{{ section.value._params.title }}</div>
      <div class="textarea-wrapper">
        <textarea
          rows="1"
          onInput="this.parentNode.dataset.replicatedValue = this.value"
        ></textarea>
      </div>
    </div>
    <div *ngIf="section.value._params.description">
      <div nz-typography nzType="secondary">Description</div>
      <div>{{ section.value._params.description }}</div>
      <div class="textarea-wrapper">
        <textarea
          rows="1"
          onInput="this.parentNode.dataset.replicatedValue = this.value"
        ></textarea>
      </div>
    </div>
    <h5>QUESTIONS</h5>
    <div class="question" *ngFor="let question of section.value.questions | keyvalue">
      <div>
        <div nz-typography nzType="secondary">Title</div>
        <div>{{ question.value.title }}</div>
        <div class="textarea-wrapper">
          <textarea
            rows="1"
            onInput="this.parentNode.dataset.replicatedValue = this.value"
            ></textarea>
        </div>
      </div>
      <div *ngIf="question.value.description">
        <div nz-typography nzType="secondary">Description</div>
        <div>{{ question.value.description }}</div>
        <div class="textarea-wrapper">
          <textarea
            rows="1"
            onInput="this.parentNode.dataset.replicatedValue = this.value"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div *nzModalFooter>
  <button nz-button nzType="primary" nzGhost (click)="edit()">Edit</button>
  <button nz-button nzType="primary" (click)="close()">Close</button>
</div>
