.languages {

  .no-default-language {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 4em;
    
    div {
      text-align: center;
    }

    nz-tag, button {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    nz-tag {
      font-size: 16px;
      cursor: pointer;
    }
  }

  div[nz-typography] {
    margin-bottom: 0px;
  }

  div {
    text-align: justify;
  }

}