<section class="languages">
  <header>
    <div>
      <h3>Languages</h3>
    </div>
    <div>
      <nz-button-group>
        <button nz-button nzType="primary"
          (click)="openDefaultLanguageModal()"
        >
          {{ currentProject.settings.defaultLanguage ? currentProject.settings.defaultLanguage : 'Set default language' }}
        </button>
        <button
          *ngIf="currentProject.settings.languages?.length > 1"
          nz-button nzType="primary" nz-dropdown
          [nzDropdownMenu]="menu1" nzPlacement="bottomRight"
        >
          <i nz-icon nzType="ellipsis"></i>
        </button>
      </nz-button-group>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item *ngFor="let language of currentProject.settings.languages">{{ language }}</li>
        </ul>
      </nz-dropdown-menu>
      <button nz-button nzType="primary" *ngIf="currentProject.settings.defaultLanguage" (click)="openAskNewLanguageName()">Add a language</button>
    </div>
    <div *ngIf="currentXorm" class="xorm-title" nz-typography nzEllipsis>{{ currentXorm.title }}</div>
  </header>
  <div class="no-default-language" *ngIf="!currentProject.settings.defaultLanguage">
    <h5>Kindly, first, assign a name to the default language</h5>
    <button nz-button 
      nzType="primary"
      (click)="openDefaultLanguageModal()"
    >
      Set the default language
    </button>
  </div>
  <ng-container *ngIf="currentProject.settings.defaultLanguage">
    <div class="no-default-language" *ngIf="!currentXorm">
      <div>
        The project's 
        <span nz-typography><code>Title</code></span> and 
        <span nz-typography><code>Description</code></span> 
        are only available in
      </div>
      <div>
        <nz-space>
          <nz-tag
            *ngFor="let language of currentProject.settings.languages"
            nzColor="success" (click)="openProjectInformationModal(language)"
          >
            {{ language }}
          </nz-tag>
        </nz-space>
      </div>
      <div>
        To make them available in another language, please click on the button below
      </div>
      <button nz-button 
        nzType="primary"
        (click)="openAskNewLanguageName()"
      >
        add a new language
      </button>
    </div>
    <div class="no-default-language" *ngIf="currentXorm">
      <div>This Xorm is available in </div>
      <div>
        <nz-space>
          <nz-tag
            *ngFor="let language of currentXorm.translations | keys"
            nzColor="success" (click)="openProjectInformationModal(language)"
          >
            {{ language }}
          </nz-tag>
        </nz-space>
      </div>
      <div>
        Please, make it available in those language by clicking on the language
      </div>
      <div>
        <nz-space>
          <nz-tag
            *ngFor="let language of currentProject.settings.languages | without: (currentXorm.translations | keys)"
            nzColor="processing" (click)="openTranslateInLanguageModal(language)"
          >
            {{ language }}
          </nz-tag>
        </nz-space>
      </div>
    </div>
  </ng-container>
</section>
<nz-modal [(nzVisible)]="isDefaultLanguageModalVisible"
  nzTitle="Set the default language"
  nzClosable="true" (nzOnCancel)="closeDefautLanguageModal()"
>
  <div *nzModalContent>
    <p>
      The default language is the one in which is actually written your survey. It's also the first language, the language in which will be display the form by default.
      You need to set it up before 
    </p>
    <div>
      <div>In which language is written the current questionnaire ?</div>
      <div class="">
        <input nz-input placeholder="Default language" [(ngModel)]="defaultLanguage" [value]="currentProject.settings.defaultLanguage">
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="setDefaultLanguage()" [nzLoading]="isDLWorking">Submit</button>
  </div>
</nz-modal>
<nz-modal [(nzVisible)]="isAddNewLanguageModalVisible"
  nzTitle="Add a new language"
  nzClosable="true" (nzOnCancel)="closeAskNewLanguageName()"
>
  <div *nzModalContent>
    <!-- <p>
      The default language is the one in which is actually written your survey. It's also the first language, the language in which will be display the form by default.
      You need to set it up before 
    </p> -->
    <div>
      <div>What's the name of the new language ?</div>
      <div class="">
        <input nz-input placeholder="new language name" [(ngModel)]="nameOfNewLanguage">
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="submitNewLanguageName()" [nzLoading]="isDLWorking">Submit</button>
  </div>
</nz-modal>
<nz-modal [(nzVisible)]="isAddLanguageModalVisible" nzTitle="Add a new language" nzClosable="true">
  <div *nzModalContent>
    <p>
      You are about to add the translation to a new language. Kindly enter its name below.
    </p>
    <div>
      <div>What is the name of the new language ?</div>
      <div class="">
        <input nz-input placeholder="enter the name here" [(ngModel)]="newLanguage">
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="setDefaultLanguage()" [nzLoading]="isDLWorking">Submit</button>
  </div>
</nz-modal>
<nz-modal [(nzVisible)]="isProjectInfosLanguageVisible"
  nzClosable="true" (nzOnCancel)="closeProjectInfosLanguageModal()"
>
  <div *nzModalTitle>
    Project informations in <nz-tag nzColor="blue">{{ currentProject.settings.defaultLanguage }}</nz-tag>
  </div>
  <div *nzModalContent>
    <div>
      <div nz-typography nzType="secondary">Title</div>
      <div>{{ currentProject.title }}</div>
      <!-- <div class="textarea-wrapper">
        <textarea
          onInput="this.parentNode.dataset.replicatedValue = this.value"
        ></textarea>
      </div> -->
    </div>
    <div>
      <div nz-typography nzType="secondary">Description</div>
      <div>{{ currentProject.description }}</div>
      <!-- <div class="textarea-wrapper">
        <textarea
          onInput="this.parentNode.dataset.replicatedValue = this.value"
        ></textarea>
      </div> -->
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" nzGhost (click)="isProjectInfosLanguageVisible = !isProjectInfosLanguageVisible;">Close</button>
    <!-- a button to edit if it's in the default language
    The user is redirect to the Xorm editing -->
  </div>
</nz-modal>
