<nz-page-header [nzGhost]="false">
  <nz-page-header-title>
    <textarea rows='1' wrap="hard" type="text" class="h1" placeholder="Enter the form title" [(ngModel)]="title" [disabled]="!isEditingOrVisualizing"></textarea>
  </nz-page-header-title>
  <nz-page-header-extra>
    <nz-tag nzColor="success">{{ level }}</nz-tag>
    <nz-switch
      [(ngModel)]="isEditingOrVisualizing"
      (ngModelChange)="onSwitchEdition()"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <ng-template #checkedTemplate><i nz-icon nzType="edit"></i> Editing</ng-template>
    <ng-template #unCheckedTemplate><i nz-icon nzType="stop"></i> Visualizing</ng-template>
    <button nz-button nzType="primary" nzSize="small" *ngIf="isEditingOrVisualizing" (click)="onSave()"><i nz-icon nzType="save"></i>Save</button>
  </nz-page-header-extra>
</nz-page-header>
<div class="xorms" style="position:relative">
  <!-- <div class="actions" [hidden]="!isEditingOrVisualizing">
    <div>
      <button nz-button nzSize="small" type="button" class="tiny button" 
        (click)="toggleVisualization()"><i nz-icon nzType="eye" nzTheme="outline"></i></button>
      <button nz-button nzType="primary" type="button" class="tiny button" nzSize="small" (click)="onSave()"><i nz-icon nzType="save"></i></button>
    </div>
    <div style="display: flex; flex-direction: column;">
      <button nz-button type="button" class="tiny button" (click)="onAddItem(0)">Question</button>
      <button nz-button type="button" class="tiny button" (click)="onAddItem(1)">Title and Description</button>
      <button nz-button type="button" class="tiny button" (click)="onAddItem(2)">Section</button>
    </div>
  </div> -->

  
  <app-xorm-section *ngFor="let section of xormBody; let ix=index;"
    [isEditingOrVisualizing]="isEditingOrVisualizing"
    [xormSection]="section" [numberOfSection]="xormBody.length" [isEnabled]="ix == currentXormSection"
    [sectionIndex]="ix + 1" [currentQuestion]="currentSectionQuestion" [allOptions]="getAllOptions()"
    (selected)="onXormSectionSelected($event)"
    (duplicateQuestion)="onDuplicatingQuestion($event)" (deleteQuestion)="onDeletingQuestion($event)"
    (duplicateSection)="onDuplicatingSection($event)" (deleteSection)="onDeletingSection($event)"
    (addQuestion)="addQuestion($event)" (addSection)="addSection($event)" (addTitleDescription)="addTitleDescription($event)"
  ></app-xorm-section>
</div>
