[app-new-xorm] {
  background-color: #f5f5f5;
}

[nz-icon] {
  vertical-align: middle;
}

h2 {
  font-weight: normal!important;

  small {
    color: rgba(114, 132, 154, 0.7) !important;
    font-size: 13px;
  }
}

.xorms-header {
  background: inherit;

  .page-title-wrapper {
    flex-grow: 1;
    margin-right: 2em;
  }

  .actions {

  }
}

textarea {
  // background-color: #f5f5f5;
  border: none;
  box-shadow: none;
  overflow: hidden;
  resize: none;
  box-sizing: border-box;
  padding: 0;
  min-height: 20px;
  outline: none;
}

textarea:disabled {
  background-color: white;
}

textarea.h1:focus {
  // margin: 0;
  padding: 0;
  outline: none;
  transition: none;
  box-shadow: none;
  // background-color: #f5f5f5;
  border: none;
  border-bottom: 2px #1779ba solid;
}

.xorms {
  width: 80%;
  // margin-left: auto;
  margin-right: auto;
  // background-color: whitesmoke;

  .actions {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    width: fit-content;
    position: absolute;
    top: 0px;
    right: -200px; // -190px;
    // padding: 0.5em 1em;


    .button {
      margin: 0.5em 1em;
      display: inline-flex;
      width: fit-content;
    }
  }

  .wrapper {
    padding-bottom: 5px;
  }
}
