<div>
  <div class="">
    <!-- <div class="">
      <label>
        Select the variable
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
          <nz-option-group *ngFor="let section of currentForm?.form | keyvalue" [nzLabel]="section.value._params.title">
            <nz-option *ngFor="let question of section.value.questions | keyvalue" [nzValue]="question.key" [nzLabel]="question.value.title"></nz-option>
          </nz-option-group>
          <nz-option-group nzLabel="Engineer">
            <nz-option nzValue="Tom" nzLabel="tom"></nz-option>
          </nz-option-group>
        </nz-select>
        <select (change)="onVariableSelected($event.target.value)">
          <option value="">Select a variable</option>
          <optgroup *ngFor="let section of currentForm?.form | keyvalue" label="{{ section.value._params.title }}">
            <option *ngFor="let question of section.value.questions | keyvalue" value="{{ question.key }}">{{ question.value.title }}</option>
          </optgroup>
        </select>
      </label>
    </div> -->
    <nz-card nzTitle="Select chart">
      <div nz-card-grid class="chart-choice" [class.active]="selectedChart == 'histogram'" (click)="onChartChoiceClicked('histogram')">Histogram</div>
      <div nz-card-grid class="chart-choice" [class.active]="selectedChart == 'boxplot'" (click)="onChartChoiceClicked('boxplot')">Boxplot</div>
      <div nz-card-grid class="chart-choice" [class.active]="selectedChart == 'bar'" (click)="onChartChoiceClicked('bar')">Bar chart</div>
      <div nz-card-grid class="chart-choice" [class.active]="selectedChart == 'pie'" (click)="onChartChoiceClicked('pie')">Pie</div>
    </nz-card>
    <nz-card nzTitle="Select the variable">
      <nz-select [(ngModel)]="selectedVariable"  style="width:100%" (ngModelChange)="onVariableSelected()" nzAllowClear nzPlaceHolder="Select a variable">
        <nz-option-group *ngFor="let form of extendedVariables" [nzLabel]="form.title">
          <nz-option *ngFor="let question of form.questions | keyvalue" nzValue="{{form._id}} xxx {{question.key}}" [nzLabel]="question.value.title"></nz-option>
        </nz-option-group>
      </nz-select>
    </nz-card>
  </div>
  <div class="">
    <div class="card">
      <div class="card-section" [ngSwitch]="selectedChart" *ngIf="stats.length > 0">
        <!-- <h4 class="card-title">
          <div class="font-bold"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ variable.question.title }}</div>
          <small>{{ variable.name }}</small>
          <small>{{ selectedChart }}</small>
        </h4> -->
        <div *ngSwitchCase="'histogram'">
          <app-histogram [data]="stats" [xName]="'Xname...'" [yName]="'Frequences'"></app-histogram>
        </div>
        <div *ngSwitchCase="'boxplot'">
          <app-boxplot [data]="stats" [xName]="'Xname...'" [yName]="'Frequences'"></app-boxplot>
        </div>
        <div *ngSwitchCase="'bar'">
          <app-bar-chart [idx]="selectedVariable" [data]="stats"></app-bar-chart>
        </div>
        <div *ngSwitchCase="'pie'">
          <app-pie-chart [data]="stats"></app-pie-chart>
        </div>
      </div>
      <div class="" *ngIf="stats.length == 0">
          <nz-empty></nz-empty>
      </div>
    </div>
  </div>
</div>

<div  *nzModalFooter>
  <button nz-button (click)="onNoClick()">No Thanks</button>
  <button nz-button nzType="primary" (click)="onOkClick()">Ok</button>
</div>
