.full-width-dialog .mat-dialog-container {
  max-width: 100vw !important;
}

.chart-choice-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.chart-choice {
  // margin-left: 1em;
  // margin-right: 1em;
  cursor: pointer;
  width: 25%;
  text-align: center;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chart-choice.active {
  box-shadow: 0.2em 0 0 0 #1779ba, 0 0.2em 0 0 #1779ba, 0.2em 0.2em 0 0 #1779ba, 0.2em 0 0 0 #1779ba inset, 0 0.2em 0 0 #1779ba inset;
  // border: 0.20em #1779ba solid;
  // margin-left: 0.80em;
  // margin-right: 0.80em;
}
//
// .active {
//   border: 0.20em #1779ba solid;
//   margin-left: 0.80em;
//   margin-right: 0.80em;
// }

.chart {
  background-color: #f8f9fa!important;
  margin: 2em 0;
}

.chart-title {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1.5em;

  .actions > button {
    margin-left: 6px;

    i {
      vertical-align: baseline;
    }
  }
}
