<div class="">
  <div class="d-flex justify-content-between">
    <div class="">
      <h2>Dashboard</h2>
    </div>
    <div class="">
      <a class="mr-1" nz-button nz-size="small" (click)="onStatsInitClicked()"><i class="fa fa-plus"></i> Init chart</a>
      <a nz-button nz-size="small" (click)="onCreateNewChartClicked()"><i class="fa fa-plus"></i> Create a new chart</a>
    </div>
  </div>
  <div class="grid-x small-up-1 medium-up-2 large-up-3">

    <div class="" *ngIf="analysis.length === 0">
    <!-- <div class=""> -->
      <nz-empty
        [nzNotFoundImage]="
          'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'
        "
        [nzNotFoundContent]="contentTpl"
        [nzNotFoundFooter]="footerTpl"
      >
        <ng-template #contentTpl>
          <!-- <span> Customize <a href="#API">Description</a> </span> -->
          <span> There is no chart in your dashboard </span>
        </ng-template>
        <ng-template #footerTpl>
          <button nz-button nzType="primary" (click)="onCreateNewChartClicked()">Create a chart now</button>
        </ng-template>
      </nz-empty>
    </div>

    <div class="chart" *ngFor="let chart of analysis" [ngSwitch]="chart.type">
      <div class="chart-title">
        <h3>{{ chart.title }}</h3>
        <div class="actions">
          <button nz-button nzSize="small" nzType="danger" type="button"
            nz-popconfirm
            nzPopconfirmTitle="Do you really want to delete it?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="onDeleteChart(chart)"
          >
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
          <button nz-button nzType="primary" nzSize="small" nz-popover nzPopoverTitle="Settings" [nzPopoverContent]="settingsTpl" nzPopoverTrigger="click">
            <i nz-icon nzType="setting" nzTheme="outline"></i>
          </button>
        </div>
      </div>
      <div class="chart-body" *ngSwitchCase="'histogram'">
        <app-histogram [idx]="chart.histogram.variable" [data]="chart.histogram.data" [xName]="'Xname...'" [yName]="'Frequences'"></app-histogram>
      </div>
      <div class="chart-body" *ngSwitchCase="'bar'" id="{{ chart.variable }}">
        <app-bar-chart [idx]="chart.variable" [data]="chart.stats"></app-bar-chart>
      </div>
      <div class="chart-body" *ngSwitchCase="'boxplot'" id="{{ chart.variable }}">
        <app-boxplot [data]="chart.stats" [idx]="chart.variable" [xName]="'Xname...'" [yName]="'Frequences'"></app-boxplot>
      </div>
      <div class="chart-body" *ngSwitchCase="'pie'" id="{{ chart.variable }}">
        <app-pie-chart [idx]="chart.variable" [data]="chart.stats" [xName]="'Xname...'" [yName]="'Frequences'"></app-pie-chart>
      </div>
    </div>
  </div>
</div>
