.ant-modal {
  width: 50%!important;
}
app-xorms-data-edit {
  background-color: red;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 4px;
}

button {
  margin-right: 8px;
}

:host-context(.ant-modal) .btn-theme {
  background: red;
}
