<form [formGroup]="currentFormControls" (ngSubmit)="onSubmit()">
  <div><nz-tag nzColor="success">{{ currentFormModel.level }}</nz-tag></div>
  <div class="section" *ngIf="showPrimary()">
    <label>
      Questionnaire ID (Primary Key):
      <!-- <input type="text" [formControl]="primaryKey"> -->
      <input [formControl]="primaryKey" nz-input type="text" placeholder="enter your answer here" />
    </label>
  </div>
  <div class="mt-2" *ngFor="let section_key of currentFormModel.form | keys;">
    <div class="mt-4 mb-4">
      <!-- <h2 nz-title>{{ currentFormModel.form[section_key]._params.title }}</h2> -->
      <nz-divider nzDashed [nzText]="text" nzDashed="false">
        <!-- <ng-template #text><i nz-icon nzType="plus"></i> Add</ng-template> -->
        <ng-template #text><h4 style="font-weight: normal;">{{ currentFormModel.form[section_key]._params.title }}</h4></ng-template>
      </nz-divider>
      <p nz-paragraph>{{ currentFormModel.form[section_key]._params.description }}</p>
    </div>

    <fieldset [formGroup]="getFromGroup(section_key)" *ngIf="!currentFormModel.form[section_key]._params.repeat">

      <div class="mt-4 mb-4" *ngFor="let variable of currentFormModel.form[section_key].questions | keys" [ngSwitch]="currentFormModel.form[section_key].questions[variable].type">
        <div class="">
          <h6>
            <strong>{{variable}} - </strong>
            {{ currentFormModel.form[section_key].questions[variable].title }}
          </h6>
          <div>{{ currentFormModel.form[section_key].questions[variable].description }}</div>
        </div>
        <div *ngSwitchCase="'string'" class="question-wrapper">
          <div class="short-answer-text-wrapper" [ngSwitch]="currentFormModel.form[section_key].questions[variable].subtype">
            <input formControlName="{{ variable }}" nz-input type="" class="" placeholder="enter your answer here" />
          </div>
        </div>
        <div *ngSwitchCase="'number'" class="question-wrapper">
          <div class="short-answer-text-wrapper" [ngSwitch]="currentFormModel.form[section_key].questions[variable].subtype">
            <nz-input-number formControlName="{{ variable }}"  placeholder="enter your answer here" [nzStep]="1"></nz-input-number>
          </div>
        </div>
        <div *ngSwitchCase="'text'" class="question-wrapper">
          <div class="long-answer-text-wrapper">
            <textarea nz-input formControlName="{{ variable }}" rows='5' wrap="hard" type="text" class="" placeholder="enter your answer here"></textarea>
          </div>
        </div>
        <div *ngSwitchCase="'single-choice'">
          <nz-radio-group formControlName="{{ variable }}">
            <label nz-radio
              *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;"
                [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
              >
              {{ currentFormModel.form[section_key].questions[variable].kv[choice] }}
            </label>
          </nz-radio-group>
        </div>
        <div *ngSwitchCase="'multiple-choice'">
          <nz-select
            nzMode="multiple"
            nzPlaceHolder="Choose items"
            [formControlName]="variable"
          >
            <nz-option
              *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index"
                [nzLabel]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
            >
            </nz-option>
          </nz-select>
        </div>
        <div *ngSwitchCase="'single-choice-select'">
          <nz-select formControlName="{{ variable }}" nzAllowClear nzPlaceHolder="Select">
            <nz-option *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;"
                [nzLabel]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
            ></nz-option>
            <nz-option nzLabel="Default Value" nzValue="Default" nzHide></nz-option>
          </nz-select>
        </div>
        <div *ngSwitchCase="'yes-no'">
          <nz-radio-group formControlName="{{ variable }}">
            <label nz-radio
              *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;"
                [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
              >
              {{ currentFormModel.form[section_key].questions[variable].kv[choice] }}
            </label>
          </nz-radio-group>
        </div>
        <div *ngSwitchCase="'yes-no-dont'">
          <nz-radio-group formControlName="{{ variable }}">
            <label nz-radio
              *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;"
                [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
              >
              {{ currentFormModel.form[section_key].questions[variable].kv[choice] }}
            </label>
          </nz-radio-group>
        </div>
        <div *ngSwitchCase="'date'" class="question-wrapper">
          <div class="date-answer-wrapper">
            <nz-date-picker formControlName="{{ variable }}"></nz-date-picker>
          </div>
        </div>
        <div *ngSwitchCase="'time'" class="question-wrapper">
          <div class="time-answer-wrapper">
            <nz-time-picker formControlName="{{ variable }}"></nz-time-picker>
          </div>
        </div>
        <div *ngSwitchCase="'datatable'" class="question-wrapper">
          <div class="time-answer-wrapper">
            <nz-table nzBordered *ngIf="currentFormModel.form[section_key].questions[variable].settings.rows.exists">
              <thead>
                <tr>
                  <th nzWidth="30%"></th>
                  <th *ngFor="let col of currentFormModel.form[section_key].questions[variable].cols;">{{ col.text }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of currentFormModel.form[section_key].questions[variable].rows; let r=index;" class="editable-row">
                  <td>{{ row.text }}</td>
                  <td *ngFor="let vcol of currentFormModel.form[section_key].questions[variable].cols; let c=index;">
                    <input formControlName="{{ variable }}__row_{{ r }}__col_{{ c }}" nz-input type="" class="" placeholder="enter your answer here" />
                  </td>
                </tr>
              </tbody>
            </nz-table>
            <nz-table 
              [formArrayName]="variable"
              nzBordered *ngIf="!currentFormModel.form[section_key].questions[variable].settings.rows.exists"
            >
              <thead>
                <tr>
                  <th *ngFor="let col of currentFormModel.form[section_key].questions[variable].cols;">{{ col.text }}</th>
                </tr>
              </thead>
              <tbody>
                <tr 
                  *ngFor="let _group of getTableInputFormGroup(section_key, variable).controls; let r=index;"
                  [formGroupName]="r"
                >
                  <td *ngFor="let vcol of currentFormModel.form[section_key].questions[variable].cols; let c=index;">
                    <input formControlName="{{ variable }}__col_{{ c }}" nz-input type="" class="" placeholder="enter your answer here" />
                  </td>
                </tr>
              </tbody>
              <button nz-button nzType="primary" type="button" (click)="onAddTableInputRow(section_key, variable)">Add row</button>
            </nz-table>
          </div>
        </div>
      </div>
    </fieldset>

    <div [formArrayName]="section_key" *ngIf="currentFormModel.form[section_key]._params.repeat">

      <nz-steps [nzCurrent]="currentGroupRepeat[section_key]">
        <nz-step
          *ngFor="let _group of getFromGroup(section_key).controls; let i=index;"
        ></nz-step>
      </nz-steps>
      <fieldset *ngFor="let _group of getFromGroup(section_key).controls; let i=index;">
        <div  [formGroupName]="i" [hidden]="currentGroupRepeat[section_key] !== i">
          <div
            *ngFor="let variable of currentFormModel.form[section_key].questions | keys" [ngSwitch]="currentFormModel.form[section_key].questions[variable].type"
            class="mt-4 mb-4"
          >
            <div class="">
              <h6>
                <strong>{{variable}} - {{i}} - </strong>
                {{ currentFormModel.form[section_key].questions[variable].title }}
              </h6>
              <div>{{ currentFormModel.form[section_key].questions[variable].description }}</div>
            </div>
            <div *ngSwitchCase="'string'" class="question-wrapper">
              <div class="short-answer-text-wrapper" [ngSwitch]="currentFormModel.form[section_key].questions[variable].subtype">
                <input formControlName="{{ variable }}" nz-input type="" class="" placeholder="enter your answer here" />
              </div>
            </div>
            <div *ngSwitchCase="'number'" class="question-wrapper">
              <div class="short-answer-text-wrapper" [ngSwitch]="currentFormModel.form[section_key].questions[variable].subtype">
                <nz-input-number formControlName="{{ variable }}"  placeholder="enter your answer here" [nzStep]="1"></nz-input-number>
              </div>
            </div>
            <div *ngSwitchCase="'text'" class="question-wrapper">
              <div class="long-answer-text-wrapper">
                <textarea nz-input formControlName="{{ variable }}" rows='5' wrap="hard" type="text" class="" placeholder="enter your answer here"></textarea>
              </div>
            </div>
            <div *ngSwitchCase="'single-choice'">
              <nz-radio-group formControlName="{{ variable }}">
                <label nz-radio
                  *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;"
                    [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                  >
                  {{ currentFormModel.form[section_key].questions[variable].kv[choice] }}
                </label>
              </nz-radio-group>
            </div>
            <div *ngSwitchCase="'multiple-choice'">
              <nz-select
                nzMode="multiple"
                nzPlaceHolder="Choose items"
                formControlName="{{variable}}"
              >
                <nz-option
                  *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index"
                    [nzLabel]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                    [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                >
                </nz-option>
              </nz-select>
            </div>
            <div *ngSwitchCase="'single-choice-select'">
              <nz-select formControlName="{{ variable }}" nzAllowClear nzPlaceHolder="Select">
                <nz-option *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;"
                    [nzLabel]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                    [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                ></nz-option>
                <nz-option nzLabel="Default Value" nzValue="Default" nzHide></nz-option>
              </nz-select>
            </div>
            <div *ngSwitchCase="'yes-no'">
              <nz-radio-group formControlName="{{ variable }}">
                <label nz-radio
                  *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;"
                    [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                  >
                  {{ currentFormModel.form[section_key].questions[variable].kv[choice] }}
                </label>
              </nz-radio-group>
            </div>
            <div *ngSwitchCase="'yes-no-dont'">
              <nz-radio-group formControlName="{{ variable }}">
                <label nz-radio
                  *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;"
                    [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                  >
                  {{ currentFormModel.form[section_key].questions[variable].kv[choice] }}
                </label>
              </nz-radio-group>
            </div>
            <!-- <div *ngSwitchCase="'multiple-choice'">
              <nz-select
                [nzMode]="'multiple'"
                [nzPlaceHolder]="'Choose items'"
                formControlName="{{variable}}"
              >
                <nz-option
                *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index"
                  [nzLabel]="currentFormModel.form[section_key].questions[variable].kv[choice]"
                  [nzValue]="currentFormModel.form[section_key].questions[variable].kv[choice]">
                </nz-option>
              </nz-select>
            </div>
            <div *ngSwitchCase="'single-choice-select'">
              <nz-select formControlName="{{ variable }}" nzAllowClear nzPlaceHolder="Select">
                <nz-option *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;" nzValue="{{ choice }}" nzLabel="{{ currentFormModel.form[section_key].questions[variable].kv[choice] }}"></nz-option>
                <nz-option nzLabel="Default Value" nzValue="Default" nzHide></nz-option>
              </nz-select>
            </div> -->
            <div *ngSwitchCase="'date'" class="question-wrapper">
              <div class="date-answer-wrapper">
                <nz-date-picker formControlName="{{ variable }}"></nz-date-picker>
              </div>
            </div>
            <div *ngSwitchCase="'time'" class="question-wrapper">
              <div class="time-answer-wrapper">
                <nz-time-picker formControlName="{{ variable }}"></nz-time-picker>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="steps-action">
        <button nz-button nzType="default"
          type="button"
          (click)="onPrevGroup(section_key)"
          *ngIf="currentGroupRepeat[section_key] > 0"
        >
          <span>Previous</span>
        </button>
        <button nz-button nzType="default"
          type="button"
          (click)="onNextGroup(section_key)"
          *ngIf="currentGroupRepeat[section_key] < (getFromGroup(section_key).controls.length - 1)"
        >
          <span>Next</span>
        </button>
        <button nz-button nzType="primary"
          type="button"
          (click)="onAddNewGroup(section_key)"
          *ngIf="currentGroupRepeat[section_key] === (getFromGroup(section_key).controls.length - 1)"
        >
          <span>Add new group</span>
        </button>
      </div>
  </div>

  </div>

  <div class="d-flex justify-space-between mt-4">
    <button type="submit" class="button" nz-button nzType="primary" [nzLoading]="isLoading">Submit the form</button>
  </div>
</form>



      <!-- <div class="margin-top-2">
        <ag-grid-angular
          style="height:100px;"
          class="ag-theme-balham"
          [rowData]="seePreviousValues(section_key)"
          [columnDefs]="agridData.columns[section_key]"
          >
        </ag-grid-angular>
      </div> -->

<!-- <div *ngFor="let variable of currentFormModel.form[section_key].questions | keys" [ngSwitch]="currentFormModel.form[section_key].questions[variable].type">
  <pre>{{ variable | json }}</pre>
  <div *ngSwitchCase="'string'">
    <label>
      <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
      <input type="text" id="{{ variable }}" formControlName="{{ variable }}">
    </label>
    <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
  </div>
  <div *ngSwitchCase="'text'">
    <label>
      <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
      <textarea name="name" rows="8" cols="80" id="{{ variable }}" formControlName="{{ variable }}"></textarea>
    </label>
    <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
  </div>
  <div *ngSwitchCase="'date'">
    <label>
      <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
      <input type="date" id="{{ variable }}" formControlName="{{ variable }}">
    </label>
    <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
  </div>
  <div *ngSwitchCase="'time'">
    <label>
      <span class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</span>
      <input type="time" id="{{ variable }}" formControlName="{{ variable }}">
    </label>
    <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
  </div>
  <div *ngSwitchCase="'single-choice'">
    <div class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</div>
    <div class="grid-x">
      <div *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;">
        <input type="radio" name="{{ variable }}" value="{{ choice }}" id="{{ variable }}" formControlName="{{ variable }}"
          (change)="selectionChangeOnSingle($event, oldValue[variable]); oldValue[variable]=choice;">
        <label for="">
          {{ currentFormModel.form[section_key].questions[variable].kv[choice] }}
        </label>
      </div>
    </div>
    <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
  </div>
  <div *ngSwitchCase="'yes-no'">
    <div class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</div>
    <div class="grid-x">
      <div *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;">
        <input
          type="radio" name="{{ variable }}" value="{{ choice }}" id="{{ variable }}" formControlName="{{ variable }}">
        <label for="">{{ currentFormModel.form[section_key].questions[variable].kv[choice] }}</label>
      </div>
    </div>
    <p *ngIf="variable.hint" class="help-text">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
  </div>
  <div *ngSwitchCase="'multiple-choice'">
    <div class="font-bold">{{ currentFormModel.form[section_key].questions[variable].title }}</div>
    <div class="grid-x">
      <div *ngFor="let choice of currentFormModel.form[section_key].questions[variable].kv | keys; let i = index;">
        <input
          type="checkbox" name="{{ variable }}" value="{{ choice }}" id="{{ variable }}" formControlName="{{ variable }}">
        <label for="">{{ currentFormModel.form[section_key].questions[variable].kv[choice] }}</label>
      </div>
    </div>
      <p *ngIf="variable.hint" class="help-text" id="passwordHelpText">{{ currentFormModel.form[section_key].questions[variable].hint }}</p>
  </div>
</div> -->
